@using GPPSU.Models.Common;
@using GPPSU.Models.OrderUpdateScreen;
@{
    PagingModel page = ViewData["Paging"] != null ? (PagingModel)ViewData["Paging"] : new PagingModel(0, 1, 10);

    List<OrderUpdateScreen> listData = (List<OrderUpdateScreen>)ViewData["OrderGroupData"];

    List<DailyHeaderList> dynamicDaily = (List<DailyHeaderList>)ViewData["dynamicDailyHeader"];
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkall").click(function () {
            $(".grid-checkbox").prop("checked", $("#checkall").is(":checked"));
        });

        $(".grid-checkbox").click(function () {
            $("#checkall").prop("checked", $('.grid-checkbox:not(#checkall)').not(':checked').length == 0);
        });
    });
</script>

<div class="customContainer" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="preload">
                <div class="spinnerDisplay"></div>
            </div>
            <div class="card-body sk-loading">
                <div class="row mb-3">
                    <div class="col-md-6 col-6 col-sm-6">
                        <button id="btnUpload" type="button" class="btn btn-info initialBtn">Upload</button>
                        <button type="button" id="btn-download" class="btn btn-primary initialBtn" onclick="onDownload()">Download</button>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6 text-right">
                        <button class="btn btn-md btn-primary initialBtn" id="insertLine">Add</button>
                        <button type="button" id="btnDelDtl" class="btn btn-danger initialBtn" tabindex="9">Delete</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="table-responsive customTableBorder">
                            <div class="tableScroll">
                                <table class="customTable text-center" id="tblDetail" width="100%">
                                    <thead>
                                        <tr>
                                            <th rowspan="3" class="p-2 stickyColumn">
                                                <input class="grid-checkboxDetail ace initialBtn" type="checkbox" id="checkall" />
                                                <span class="lbl" title="Choose"></span>
                                            </th>
                                            <th rowspan="3" class="stickyColumn">Action</th>
                                            <th rowspan="3" class="stickyColumn">Parts No</th>
                                            <th rowspan="3" class="stickyColumn">ReExp</th>
                                            <th rowspan="3" class="stickyColumn">Order Lot Size</th>
                                            <th colspan="4" class="stickyColumn">Total</th>

                                            @if (dynamicDaily != null)
                                            {
                                                <th colspan="@dynamicDaily.Count">@dynamicDaily[0].Month</th>
                                            }
                                            else
                                            {
                                                <th colspan="30">Month</th>
                                            }

                                        </tr>
                                        <tr>
                                            <th rowspan="2" class="stickyColumn">01</th>
                                            <th rowspan="2" class="stickyColumn">02</th>
                                            <th rowspan="2" class="stickyColumn">03</th>
                                            <th rowspan="2" class="stickyColumn">04</th>

                                            @if (dynamicDaily != null)
                                            {
                                                for (int k = 0; k < dynamicDaily.Count; k++)
                                                {
                                                    <th>@dynamicDaily[k].Day</th>
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 30; i++)
                                                {
                                                    <th style="width:100px;">
                                                        @i
                                                    </th>
                                                }
                                            }
                                        </tr>
                                        <tr>
                                            @if (dynamicDaily != null)
                                            {
                                                for (int j = 0; j < dynamicDaily.Count; j++)
                                                {
                                                    <th style="padding: 3px 10px;">@dynamicDaily[j].WeekDay</th>
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i == 5)
                                                    {
                                                        <th>Mon</th>
                                                        <th>Tue</th>
                                                    }
                                                    else
                                                    {
                                                        <th>Mon</th>
                                                        <th>Tue</th>
                                                        <th>Wed</th>
                                                        <th>Thu</th>
                                                        <th>Fri</th>
                                                        <th>Sat</th>
                                                        <th>Sun</th>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody id="dataTable">
                                        @if (listData != null)
                                        {
                                            foreach (OrderUpdateScreen data in listData)
                                            {
                                                <tr align="center">
                                                    <td class="text-center grid-checkbox-col stickyColumn">
                                                        <input name="chkRow" type="checkbox" class="grid-checkbox-body"
                                                               data-companyCd="@data.COMPANY_CD" data-receiveNo="@data.RECEIVE_NO" data-detailNo="@data.DETAIL_NO"
                                                               data-yymm="@data.YYMM"/>
                                                        <span class="lbl"></span>
                                                    </td>
                                                    <td class="stickyColumn">
                                                        <button class="btn initialBtn btn-md btn-outline-primary pt-0 pb-0 pl-1 pr-1" title="Edit" id="editLine">
                                                            <small><i class="fa fa-pen"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-info pt-0 pb-0 pl-1 pr-1" title="Copy Line" id="copyLine">
                                                            <small><i class="fa fa-copy"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-warning pt-0 pb-0 pl-1 pr-1" title="Delete"
                                                                onclick="onDeleteSingle('@data.COMPANY_CD','@data.RECEIVE_NO', '@data.DETAIL_NO','@data.YYMM')">
                                                            <small><i class="fa fa-trash"></i></small>
                                                        </button>
                                                    </td>
                                                    <td align="left" class="stickyColumn">@data.PART_NO</td>
                                                    <td class="stickyColumn">@data.RE_EXPORT_CD</td>
                                                    <td class="stickyColumn">@data.LOT_SIZE</td>

                                                    
                                                        <td class="stickyColumn">@data.TOTAL_MONTHLY_01</td>
                                                        <td class="stickyColumn">@data.TOTAL_MONTHLY_02</td>
                                                        <td class="stickyColumn">@data.TOTAL_MONTHLY_03</td>
                                                        <td class="stickyColumn">@data.TOTAL_MONTHLY_04</td>
                                                    
                                                    <td hidden>@data.YYMM</td>
                                                    <td hidden>@data.RECEIVE_NO</td>
                                                    <td hidden>@data.DETAIL_NO</td>

                                                    <td>@data.DAY_ORD_VOL_01</td>
                                                    <td>@data.DAY_ORD_VOL_02</td>
                                                    <td>@data.DAY_ORD_VOL_03</td>
                                                    <td>@data.DAY_ORD_VOL_04</td>
                                                    <td>@data.DAY_ORD_VOL_05</td>
                                                    <td>@data.DAY_ORD_VOL_06</td>
                                                    <td>@data.DAY_ORD_VOL_07</td>
                                                    <td>@data.DAY_ORD_VOL_08</td>
                                                    <td>@data.DAY_ORD_VOL_09</td>
                                                    <td>@data.DAY_ORD_VOL_10</td>
                                                    <td>@data.DAY_ORD_VOL_11</td>
                                                    <td>@data.DAY_ORD_VOL_12</td>
                                                    <td>@data.DAY_ORD_VOL_13</td>
                                                    <td>@data.DAY_ORD_VOL_14</td>
                                                    <td>@data.DAY_ORD_VOL_15</td>
                                                    <td>@data.DAY_ORD_VOL_16</td>
                                                    <td>@data.DAY_ORD_VOL_17</td>
                                                    <td>@data.DAY_ORD_VOL_18</td>
                                                    <td>@data.DAY_ORD_VOL_19</td>
                                                    <td>@data.DAY_ORD_VOL_20</td>
                                                    <td>@data.DAY_ORD_VOL_21</td>
                                                    <td>@data.DAY_ORD_VOL_22</td>
                                                    <td>@data.DAY_ORD_VOL_23</td>
                                                    <td>@data.DAY_ORD_VOL_24</td>
                                                    <td>@data.DAY_ORD_VOL_25</td>
                                                    <td>@data.DAY_ORD_VOL_26</td>
                                                    <td>@data.DAY_ORD_VOL_27</td>
                                                    <td>@data.DAY_ORD_VOL_28</td>

                                                    @if (dynamicDaily.Count > 28)
                                                    {
                                                        <td>@data.DAY_ORD_VOL_29</td>
                                                    }
                                                    @if (dynamicDaily.Count > 29)
                                                    {
                                                        <td>@data.DAY_ORD_VOL_30</td>
                                                    }
                                                    @if (dynamicDaily.Count > 30)
                                                    {
                                                        <td>@data.DAY_ORD_VOL_31</td>
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            if (dynamicDaily != null)
                                            {
                                                int j;
                                                <tr id="tblHidden" align="center" style="display:none;">
                                                    <td class="text-center grid-checkbox-col stickyColumn">
                                                        <input name="chkRow" type="checkbox" class="grid-checkbox-body" />
                                                        <span class="lbl"></span>
                                                    </td>
                                                    <td class="stickyColumn">
                                                        <button class="btn initialBtn btn-md btn-outline-primary pt-0 pb-0 pl-1 pr-1" title="Edit" id="editLine">
                                                            <small><i class="fa fa-pen"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-info pt-0 pb-0 pl-1 pr-1" title="Copy Line" id="copyLine">
                                                            <small><i class="fa fa-copy"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-warning pt-0 pb-0 pl-1 pr-1" title="Delete">
                                                            <small><i class="fa fa-trash"></i></small>
                                                        </button>
                                                    </td>
                                                    <td align="left" class="stickyColumn"></td>
                                                    <td class="stickyColumn"></td>
                                                    <td class="stickyColumn"></td>
                                                    @for (int i = 1; i <= 4; i++)
                                                    {
                                                        <td class="stickyColumn"></td>
                                                    }
                                                    <td hidden></td>
                                                    <td hidden></td>
                                                    <td hidden></td>
                                                    @for (j = 12; j < dynamicDaily.Count + 12; j++)
                                                    {
                                                        <td id="td_@j">@j</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td colspan="@j"> No Data Found</td>
                                                </tr>

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="39"> No Data Found</td>
                                                </tr>

                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-8">
                        <div class="form-group-sm">
                            @Html.Partial("_UIPaging", page)
                        </div>
                    </div>
                    <div class="col-md-4 text-right pt-1">
                        <div class="form-group-sm">
                            <button type="button" id="btn-NMonth" class="btn btn-info pl-1 pr-1" onclick="onSearch()">N Month</button>
                            <button type="button" id="btn-N1Month" class="btn btn-info pl-1 pr-1" onclick="onN1Month()">N+1 Month</button>
                            <button type="button" id="btn-N2Month" class="btn btn-info pl-1 pr-1" onclick="onN2Month()">N+2 Month</button>
                            <button type="button" id="btn-N3Month" class="btn btn-info pl-1 pr-1" onclick="onN3Month()">N+3 Month</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>