@using System;
@using Toyota.Common.Web.Platform;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row customContainer mt-4">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="card-title">
                            Process Start-up Confirmation
                        </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="form-group-sm">
                            <h5 class="text-right"><span class="badge companyCd">Company : <span id="comcd">807J</span></span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding: 10px 16px;">
                <div class="jumbotron jumbotron-fluid pr-4 pl-4 pb-4 mt-2" style="font-family: Cambria Math; box-shadow: 0px 1px 4px rgb(172, 172, 172); color: #767676;">
                    <div class="container text-center">
                        <h1 class="display-4">Would you like to process ? </h1>
                        <input id="msgId" name="visitor" type="hidden" class="form-control" />
                        <p class="lead pb-5">Process Name : U01-004 Tentative Order Acceptance</p>
                    </div>
                    <div class="container pt-5 mt-5 text-right">
                        <p class="lead" style="font-family: Arial; font-size: 13px;">For Execution, press "Execute" button</p>
                        <div class="form-group-sm">
                            <button class="btn btn-md btn-info initialBtn" id="executeBtn">Execute</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section BodyScript{
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.filedownload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-msgbox/jquery.msgBox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.filedownload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.bootstrap-growl.min.js")"></script>

    <script>
        $(document).ready(function () {

        });

        $("#executeBtn").on("click", function () {
            //popUpProgressShow();

            $.messagebox.show(
                "Execute",
                "MCSTSTD014C: Are you sure you want to execute ?",
                "INF",
                "CONFIRM",
                "onConfirmExecute()",
                ""
            );


        });

        function onConfirmExecute() {
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/OrderRecTentativeNQCInhouse/executeBatch")',

                data: {
                    COMPANY_CD: $("#comcd").text(),
                    VERSION: 'TP'
                },
                success: function (data) {
                    //console.log(data.STATUS.REPORT_ID);
                    $('#msgId').val(data.STATUS.REPORT_ID);
                    showSuccessMesgGrowl("Success");
                    //setTimeout(downloadWarningList(msgId), 2000);
                }
            });
        }

        function downloadWarningList(msgId) {

            $.fileDownload('@Url.Content("~/OrderRecTentativeNQCInhouse/downloadWarningList")',{
                httpMethod: "POST",
                data: {
                    COMPANY_CD: $("#comcd").text(),
                    VERSION : 'TP'
                },
                successCallback: function (data) {
                    $.messagepanel.show("I: Execution Completed Succesfully");
                },
                failCallback: function (a, b) {
                    //console.log('ada '+data);
                    popUpProgressHide();
                    $.messagepanel.show("E: " + a);
                }
            });
        }


    </script>

}