@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScript{

}

@Html.Partial("_SearchCriteria")

<div id="gridTableCourse">
    @Html.Partial("_GridView")
</div>

<div id="uploadDataFilePopup" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="basicModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Upload Area</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Dropzone AREA-->
                        <div id="actions" class="row">
                            <div class="col-md-12 fileinput-button mb-2">
                                <div class="row justify-content-center" style="padding: 5px;">
                                    <i class="fa fa-cloud-upload-alt fa-5x" style="opacity: 0.3"></i>
                                </div>
                                <div class="row justify-content-center" style="padding: 5px;">
                                    <span style="color: #999; font-size: 20px;"><i class="fa fa-caret-right blue" style="opacity: 0.7"></i> Drop file to upload <small>(or click)</small> </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table table-striped" id="previews">
                                <div id="template" class="file-row">
                                    <div>
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:0%;" data-dz-uploadprogress><span class="progress-text"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dropzone AREA-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-left">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">
                        <button type="button" class="btn btn-info" id="linkDownloadTemplate">Download Template </button>
                        <button type="button" id="btnUploadPopupClose" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divPreviewExcel">
    @Html.Partial("_ModalPreviewExcelUpload")
</div>



@section BodyScript{

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-msgbox/jquery.msgBox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.filedownload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.bootstrap-growl.min.js")"></script>
    


    <script>


        var trBaseColor;
        var dataEditCopy = [];
        var gScreenMode = "";


        $("#insertLine").prop("disabled", true);
        $("#btn-download").prop("disabled", true);
        $("#btnUpload").prop("disabled", true);
        $("#btnDelDtl").prop("disabled", true);

        $(document).ready(function () {

            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

            var myDropzone = new Dropzone("#actions", {
                url: "@Html.Toyota().Page.GetActionUrl("UploadDataFile")",
                paramName: "file",
                maxFiles: 1,
                acceptedFiles: ".xls",
                addRemoveLinks: false,
                previewTemplate: previewTemplate,
                autoQueue: true,
                clickable: ".fileinput-button",
                uploadprogress: function (file, progress, bytesSent) {
                    if (file.previewElement) {
                        var progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                        progressElement.style.width = progress + "%";
                        progressElement.querySelector(".progress-text").textContent = Math.round(progress) + "%";
                    }
                },
                success: function (file, returnResult) {
                    onUploadDataFileSuccess(returnResult);
                },
                complete: function () {

                },
                error: function (file, errormessage) {
                    if (file.previewElement) {
                        showErrorMesgGrowl(errormessage);
                    }
                },
            });

            myDropzone.on("complete", function (file) {
                myDropzone.removeFile(file);
            });

            $(document).one('ajaxloadstart.page', function (e) {
                try {
                    myDropzone.destroy();
                } catch (e) { }
            });

            $("#txtYear").datepicker({
                format: 'yyyymm',
                autoclose: true,
                minViewMode: 'months',
                container:'#MonthDatePicker'
            });

            fixedHeader(); //If the table header is more than 1, use this function to freeze the header

            $(document).on("click", "#insertLine", function () {
                gScreenMode = "Add";
                addTheFirstRow(this);
                dataEditCopy.length = 0;
                $('#tblDetail tbody').find('tr:hidden:first').show();
                $("#txtEq3").prop('disabled', true);
                $("#txtEq4").prop('disabled', true);

                $("#txtEq3").val("0.00");
                $("#txtEq4").val("0.00");

                $("#txtEq5").val("1.00");
                $("#txtEq6").val("1.00");
                $("#txtEq7").val("1.00");
                $("#txtEq8").val("1.00");
                $("#txtEq9").val("1.00");
                $("#txtEq10").val("1.00");
                $("#txtEq11").val("1.00");
                $("#txtEq12").val("1.00");
                $("#txtEq13").val("1.00");
                $("#txtEq14").val("1.00");
                $("#txtEq15").val("1.00");
                $("#txtEq16").val("1.00");
                $("#txtEq17").val("1.00");
                $("#txtEq18").val("1.00");
                $("#txtEq19").val("1.00");
                $("#txtEq20").val("1.00");
                $("#txtEq21").val("1.00");
                $("#txtEq22").val("1.00");
                $("#txtEq23").val("1.00");
                $("#txtEq24").val("1.00");
                $("#txtEq25").val("1.00");
                $("#txtEq26").val("1.00");
                $("#txtEq27").val("1.00");
                $("#txtEq28").val("1.00");
                $("#txtEq29").val("1.00");
                $("#txtEq30").val("1.00");
                $("#txtEq31").val("1.00");
                $("#txtEq32").val("1.00");

                if ("#txtEq33" != null) {
                    $("#txtEq33").val("1.00");
                }
                if ("#txtEq34" != null) {
                    $("#txtEq34").val("1.00");
                }
                if ("#txtEq35" != null) {
                    $("#txtEq35").val("1.00");
                }
                $(".customTable th").css({ "top": "" });
                $(".tableScroll").scrollLeft(0).scrollTop(0);
                fixedHeader();
            });

            $(document).on("click", "#cancelSubmit", function () {
                var tr = $(this).closest("tr");
                $("#tblDetail tbody tr").css({ "filter": "", "color": "#878787" });;
                $(".initialBtn").prop("disabled", false);
                if (tr.attr("class") == "editLine") {
                    tr.each(function (i, e) {
                        $(e).removeClass($(e).attr("class"));
                        $(e).css("background-color", trBaseColor);
                        $(e).find("td.stickyColumn").css("background-color", trBaseColor);
                        var i = $(e).children('td');
                        for (var x = 2; x <= i.length; x++) {
                            var val = i.eq(x).children().val();
                            i.eq(x).html(val);
                        }
                        i.eq(1).html(initialButton);
                    });
                } else {
                    $(this).closest("tr").remove();
                }
                $(".customTable tr:nth-child(even), .customTable tbody tr:nth-child(even) td.stickyColumn").css("background", "#f2f2f2");
            });


            $(document).on("click", "#editLine", function () {
                gScreenMode = 'Edit';
                dataEditCopy.length = 0;
                var tr = initializeEditCopyLine(this);
                tr.addClass($(this).attr("id"));
                loopThrougTableRow(tr, $(this).attr('id'));
                $("#txtEq2").prop('disabled', true);
                $("#txtEq3").prop('disabled', true);
                $("#txtEq4").prop('disabled', true);

                trBaseColor = getComputedStyle(document.querySelector("." + $(this).attr('id') + "")).backgroundColor;
                $(".customTable tr, .customTable tbody td.stickyColumn").css("background", "#fff");
                tr.css("background-color", "#E9E9E9");
                $(tr).find("td.stickyColumn").css("background-color", "#E9E9E9");
            });

            $(document).on("click", "#copyLine", function () {
                gScreenMode = 'Add';
                dataEditCopy.length = 0;
                addTheFirstRow(this);
            });

            $(document).on("click", "#btnUpload", function () {
                gScreenMode = "Upload";
                $("#uploadDataFilePopup").modal();
            });

            $(document).on('click', '#btnSearch', function () {
                doSearch(1);
            });

            $(document).on("click", "#btnDelDtl", function () {
                var checked = $(".grid-checkbox-body").length;

                if (checked < 1) {
                    showErrorMesgGrowl("Choose one or more data(s) to be delete!");
                }
                else {
                    //showConfirmMesg("Are you sure you want to delete the record?", onConfirmDelete, "Delete Confirmation");
                    $.messagebox.show(
                        "Delete Data",
                        "MCSTSTD014C: Are you sure you want to delete the record ?",
                        "INF",
                        "CONFIRM",
                        "onConfirmDelete()",
                        ""
                    );
                    //$("#deleteConfirmation").modal();
                }
            });

            $(document).on("click", "#btnSave", function () {
                var params = new Object();
                var datas = new Object();

                params.ScreenMode = gScreenMode;
                params.data = datas;
                var errorinf = 0;

                @*if (gScreenMode === 'Add') { *@
                    //ADD
                    datas.LINE_CD = $("#txtEq2").val();
                    datas.WORK_DAY_SYSTEM = $("#txtEq3").val();
                    datas.WORK_DAY_HAND = $("#txtEq4").val();
                    datas.PROCESS_CD = $("#proccd").val();
                    datas.YYMM = $("#txtYear").val();
                    datas.COMPANY_CD = $("#comcd").text();

                    datas.DAY_ALOC_RATIO_01 = $("#txtEq5").val();
                    datas.DAY_ALOC_RATIO_02 = $("#txtEq6").val();
                    datas.DAY_ALOC_RATIO_03 = $("#txtEq7").val();
                    datas.DAY_ALOC_RATIO_04 = $("#txtEq8").val();
                    datas.DAY_ALOC_RATIO_05 = $("#txtEq9").val();
                    datas.DAY_ALOC_RATIO_06 = $("#txtEq10").val();
                    datas.DAY_ALOC_RATIO_07 = $("#txtEq11").val();
                    datas.DAY_ALOC_RATIO_08 = $("#txtEq12").val();
                    datas.DAY_ALOC_RATIO_09 = $("#txtEq13").val();
                    datas.DAY_ALOC_RATIO_10 = $("#txtEq14").val();
                    datas.DAY_ALOC_RATIO_11 = $("#txtEq15").val();
                    datas.DAY_ALOC_RATIO_12 = $("#txtEq16").val();
                    datas.DAY_ALOC_RATIO_13 = $("#txtEq17").val();
                    datas.DAY_ALOC_RATIO_14 = $("#txtEq18").val();
                    datas.DAY_ALOC_RATIO_15 = $("#txtEq19").val();
                    datas.DAY_ALOC_RATIO_16 = $("#txtEq20").val();
                    datas.DAY_ALOC_RATIO_17 = $("#txtEq21").val();
                    datas.DAY_ALOC_RATIO_18 = $("#txtEq22").val();
                    datas.DAY_ALOC_RATIO_19 = $("#txtEq23").val();
                    datas.DAY_ALOC_RATIO_20 = $("#txtEq24").val();
                    datas.DAY_ALOC_RATIO_21 = $("#txtEq25").val();
                    datas.DAY_ALOC_RATIO_22 = $("#txtEq26").val();
                    datas.DAY_ALOC_RATIO_23 = $("#txtEq27").val();
                    datas.DAY_ALOC_RATIO_24 = $("#txtEq28").val();
                    datas.DAY_ALOC_RATIO_25 = $("#txtEq29").val();
                    datas.DAY_ALOC_RATIO_26 = $("#txtEq30").val();
                    datas.DAY_ALOC_RATIO_27 = $("#txtEq31").val();
                    datas.DAY_ALOC_RATIO_28 = $("#txtEq32").val();

                    if ("#txtEq33" != null) {
                        datas.DAY_ALOC_RATIO_29 = $("#txtEq33").val();
                    }
                    else {
                        datas.DAY_ALOC_RATIO_29 = 0;
                    }

                    if ("#txtEq34" != null) {
                        datas.DAY_ALOC_RATIO_30 = $("#txtEq34").val();
                    }
                    else {
                        datas.DAY_ALOC_RATIO_30 = 0;
                    }

                    if ("#txtEq35" != null) {
                        datas.DAY_ALOC_RATIO_31 = $("#txtEq35").val();
                    }
                    else {
                        datas.DAY_ALOC_RATIO_31 = 0;
                    }

                    //validasi
                    if (datas.LINE_CD == '' || datas.LINE_CD == null) {
                        showErrorMesgGrowl("LINE CODE should not be empty");
                        errorinf = 1;
                    }

                    if (datas.PROCESS_CD == '' || datas.PROCESS_CD == null) {
                        showErrorMesgGrowl("PROCESS CODE should not be empty, choose select M or K");
                        errorinf = 1;
                    }

                    if (datas.YYMM == '' || datas.YYMM == null) {
                        showErrorMesgGrowl("Year Month should not be empty");
                        errorinf = 1;
                    }

                @*}
                else {

                }*@

                if (errorinf == 1) {

                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("DayByDayProductionCoeficient/AddEditSave")',
                        contentType: 'application/json',
                        dataType: "json",
                        traditional: true,
                        data: JSON.stringify(params),
                        beforeSend: function () {
                            popUpProgressShow();
                            console.log(params);
                        },
                        success: function (data) {
                             if (data.Result == "ERROR") {
                                 showErrorMesgGrowl(data.ErrMesgs);
                             }
                             else {
                                 showSuccessMesgGrowl("Save Success");
                                 onSaveSuccess();
                                }
                            popUpProgressHide();
                        },
                        error: function (data) {
                            popUpProgressHide();
                            showErrorMesgGrowl(data.ErrMesgs);
                        },
                        complete: function () {
                            popUpProgressHide();
                        }
                    });
                }

            });

            $(document).on("click", "#linkDownloadTemplate", function () {
                popUpProgressShow();
                $.fileDownload('@Url.Content("~/DayByDayProductionCoeficient/DownloadTemplate")', {
                    httpMethod: "POST",
                    data: {},
                    successCallback: function (url) {
                        popUpProgressHide();
                    },
                    failCallback: function (responseHtml, url) {
                        popUpProgressHide();
                        var returnResult = JSON.parse(responseHtml.replace("<pre>", "").replace("</pre>", ""));
                        handleAjaxResultGrowl(returnResult, "Download Template");
                    }
                });
            });

            $(document).on('click', '#importExcel', function () {
                var params = new Object();
                var data = new Object();

                params.ScreenMode = gScreenMode;
                params.data = data;
                var i = 1;
                data.listData = []

                $('#tblPreview tbody tr').each(function () {
                    var dtl = new Object();
                    dtl.COMPANY_CD = $(this).find('input#Company_Cd_' + i).val();
                    dtl.PROCESS_CD = $(this).find('input#Process_Code_' + i).val();
                    dtl.YYMM = $(this).find('input#yymm_' + i).val();
                    dtl.LINE_CD = $(this).find('input#Line_Code_' + i).val();

                    dtl.D_WORK_DAY_SYSTEM = $(this).find('input#Work_Day_System_' + i).val();
                    dtl.D_WORK_DAY_HAND = $(this).find('input#Work_Day_Hand_' + i).val();
                    dtl.D_DAY_ALOC_RATIO_01 = $(this).find('input#Day_Aloc_Ratio_01_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_02 = $(this).find('input#Day_Aloc_Ratio_02_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_03 = $(this).find('input#Day_Aloc_Ratio_03_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_04 = $(this).find('input#Day_Aloc_Ratio_04_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_05 = $(this).find('input#Day_Aloc_Ratio_05_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_06 = $(this).find('input#Day_Aloc_Ratio_06_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_07 = $(this).find('input#Day_Aloc_Ratio_07_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_08 = $(this).find('input#Day_Aloc_Ratio_08_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_09 = $(this).find('input#Day_Aloc_Ratio_09_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_10 = $(this).find('input#Day_Aloc_Ratio_10_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_11 = $(this).find('input#Day_Aloc_Ratio_11_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_12 = $(this).find('input#Day_Aloc_Ratio_12_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_13 = $(this).find('input#Day_Aloc_Ratio_13_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_14 = $(this).find('input#Day_Aloc_Ratio_14_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_15 = $(this).find('input#Day_Aloc_Ratio_15_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_16 = $(this).find('input#Day_Aloc_Ratio_16_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_17 = $(this).find('input#Day_Aloc_Ratio_17_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_18 = $(this).find('input#Day_Aloc_Ratio_18_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_19 = $(this).find('input#Day_Aloc_Ratio_19_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_20 = $(this).find('input#Day_Aloc_Ratio_20_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_21 = $(this).find('input#Day_Aloc_Ratio_21_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_22 = $(this).find('input#Day_Aloc_Ratio_22_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_23 = $(this).find('input#Day_Aloc_Ratio_23_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_24 = $(this).find('input#Day_Aloc_Ratio_24_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_25 = $(this).find('input#Day_Aloc_Ratio_25_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_26 = $(this).find('input#Day_Aloc_Ratio_26_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_27 = $(this).find('input#Day_Aloc_Ratio_27_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_28 = $(this).find('input#Day_Aloc_Ratio_28_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_29 = $(this).find('input#Day_Aloc_Ratio_29_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_30 = $(this).find('input#Day_Aloc_Ratio_30_' + i).val(); 
                    dtl.D_DAY_ALOC_RATIO_31 = $(this).find('input#Day_Aloc_Ratio_31_' + i).val(); 

                    
                    data.listData.push(dtl);
                    i++;
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("DayByDayProductionCoeficient/AddEditSave")',
                    contentType: 'application/json',
                    dataType: "json",
                    traditional: true,
                    data: JSON.stringify(params),
                    beforeSend: function () {
                        popUpProgressShow();
                        console.log(params);
                    },
                    success: function (data) {
                        if (data.Result == "ERROR") {
                            showErrorMesgGrowl(data.ErrMesgs);
                            $("#previewUploadExcel").modal("hide");
                            doSearch(1);
                        }
                        else {
                            showSuccessMesgGrowl("Save Success");
                            onSaveSuccess();
                        }
                        popUpProgressHide();
                    },
                    error: function (data) {
                        popUpProgressHide();
                        showErrorMesgGrowl(data.ErrMesgs);
                    },
                    complete: function () {
                        popUpProgressHide();
                    }
                });
            });

        })

        function doClear() {
            $("#txtYear").val('');
            $("#proccd").val('');
            $("#insertLine").prop("disabled", true);
            $("#btn-download").prop("disabled", true);
            $("#btnUpload").prop("disabled", true);
            $("#btnDelDtl").prop("disabled", true);
            $("#txtYear").prop("disabled", false);
            $("#proccd").prop("disabled", false);
        }

        function datePicker() {
            $("._datepicker").datepicker({
                format: 'yyyymm',
                autoclose: true,
                minViewMode: 'months',
                orientation: 'auto bottom',
                container: '#MonthDatePicker'
            }).on('show', function () {
                $(".datepicker-orient-bottom").removeClass("datepicker-orient-bottom");
                $(".datepicker-dropdown").addClass("datepicker-orient-top");
            });
        }

        function addTheFirstRow(e) {
            btnAddRow_onClick(e);
            $(".initialBtn").prop("disabled", true);
            $("input[type=checkbox]").prop("checked", false);
        }

        function btnAddRow_onClick(classAttr) {
            var $class = $(classAttr).attr('id');
            var tr = $class == 'insertLine' ? $("#tblDetail tbody tr:first") : $(classAttr).closest("tr");
            $(".tableScroll").scrollTop(0);
            $(".customTable tr, .customTable tbody td.stickyColumn").css("background", "#fff");

            tr.clone().addClass($class).css("background-color", "#E9E9E9").prependTo("#tblDetail tbody");
            $("#tblDetail tbody tr." + $class).find("td.stickyColumn").css("background-color", "#E9E9E9");


            loopThrougTableRow($("#tblDetail tbody tr." + $class + ""), $class);
        }

        function initializeEditCopyLine(e) {
            var tr = $(e).closest("tr");
            $("input[type=checkbox]").prop("checked", false);
            $(".initialBtn").prop("disabled", true);

            return tr;
        }

        function loopThrougTableRow(tr, classAttr) {
            tr.each(function (i, e) {
                var i = $(e).children('td');

                var val2 = classAttr == "insertLine" ? "" : i.eq(2).text();
                i.eq(2).html("<input type ='text' class='form-control " + 2 + " text-center' value='" + val2 + "' id='txtEq2'/>");

                for (var x = 3; x < i.length; x++) {
                    var val = classAttr == "insertLine" ? "" : i.eq(x).text();
                    i.eq(x).html("<input type ='number' class='form-control " + x + " text-center' value='" + val + "' id='txtEq" + x + "'/>");
                    dataEditCopy.push(val);
                }
                i.eq(1).html(modifiedButton);
            });
            $("#tblDetail tbody tr:not(." + tr.attr("class") + ")").css({ "filter": "grayscale(50%)", "color": "#E6E6E6" });
        }

        function doSearch(page) {
            var validation = validate();
            if (validation) {
                $("#insertLine").prop("disabled", false);
                $("#btn-download").prop("disabled", false);
                $("#btnUpload").prop("disabled", false);
                $("#btnDelDtl").prop("disabled", false);
                $("#txtYear").prop("disabled", true);
                $("#proccd").prop("disabled", true);

                popUpProgressShow();
                 $.ajax({
                    type: "POST",
                    url: "@Html.Toyota().Page.GetActionUrl("Search")",
                    data: {
                        PROCESS_CD: $("#proccd").val(),
                        YYMM: $("#txtYear").val(),
                        COMPANY_CD: $("#comcd").text(),
                        rowsPerPage: $("#cbodisplay").val(),
                        currentPage: page
                    },
                    success: function (data) {
                        $("#gridTableCourse").html(data);
                        fixedHeader();
                        popUpProgressHide();
                    },
                    error: function (data) {
                        popUpProgressHide();
                        console.log(data);
                    }
                });
            }
        }

        function validate() {
            var valid = true;
            if ($("#proccd").val() == null || $("#proccd").val() == "" || $("#proccd").val() == undefined) {
                //$.messagepanel.show("Process Code should not be empty");
                showErrorMesgGrowl("Process Code should not be empty");
                valid = false;
            }
            if ($("#txtYear").val() == null || $("#txtYear").val() == "" || $("#txtYear").val() == undefined) {
                //$.messagepanel.show("Year Month should not be empty");
                showErrorMesgGrowl("Year Month should not be empty");
                valid = false;
            }
            return valid;
        }


        function onSearch() {

            $("#dataTable").show();

        }

        function onSaveSuccess() {
            $("#txtYear").prop("disabled", false);
            $("#proccd").prop("disabled", false);
            $("#insertLine").prop("disabled", true);
            $("#btnUpload").prop("disabled", true); 
            $("#btnDelDtl").prop("disabled", true);
            $("#btn-download").prop("disabled", true);
            $("#previewUploadExcel").modal("hide");
            doSearch(1);
            $(".initialBtn").prop("disabled", false);
        }

        function onDeleteSingle(processCd, companyCd, lineCd, yymm) {

            $.messagebox.show(
                "Delete Data",
                "MCSTSTD014C: Are you sure you want to delete the record ?",
                "INF",
                "CONFIRM",
                "onConfirmDeleteSingle(" + "'" + processCd + "'," +
                                           "'" + companyCd + "'," +
                                           "'" + lineCd + "'," +
                                           "'" + yymm + "'" + ")",
                                           ""
            );
        }

        function onConfirmDeleteSingle(processCd, companyCd, lineCd, yymm) {
            popUpProgressShow();

            var listData = [];
            var id = "";

            var data = new Object();
            data.listData = [];

            var Data1 = new Object();
            Data1.COMPANY_CD = companyCd;
            Data1.PROCESS_CD = processCd;
            Data1.LINE_CD = lineCd;
            Data1.YYMM = yymm;

            data.listData.push(Data1);

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DayByDayProductionCoeficient/Delete")',
                contentType: "application/json",
                dataType: "json",
                traditional: true,
                data: JSON.stringify(data),
                beforeSend: function () {
                    popUpProgressShow();
                },
                success: function (data) {
                    if (data.Result == "ERROR") {
                        showErrorMesgGrowl(data.ErrMesgs);
                    }
                    else {
                        showSuccessMesgGrowl("Delete Success");
                        popUpProgressHide();
                        doSearch(1);
                    }
                },
                error: function (data) {
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                    $("#deleteConfirmation").modal("hide");
                }
            });
        }

        @*delete multiple*@
        function onConfirmDelete() {
            popUpProgressShow();

            var listData = [];
            var id = "";

            var data = new Object();
            data.listData = [];

            $(".grid-checkbox-body:checked").each(function () {
                var Data1 = new Object();
                Data1.COMPANY_CD = $(this).attr('data-companyCd');
                Data1.PROCESS_CD = $(this).attr('data-processCd');
                Data1.LINE_CD = $(this).attr('data-lineCd');
                Data1.YYMM = $(this).attr('data-yymm');

                data.listData.push(Data1);
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DayByDayProductionCoeficient/Delete")',
                contentType: "application/json",
                dataType: "json",
                traditional: true,
                data: JSON.stringify(data),
                beforeSend: function () {
                    popUpProgressShow();
                },
                success: function (data) {
                    if (data.Result == "ERROR") {
                        showErrorMesgGrowl(data.ErrMesgs);
                    }
                    else {
                        showSuccessMesgGrowl("Delete Success");
                        doSearch(1);
                    }
                },
                error: function (data) {
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                    $("#deleteConfirmation").modal("hide");
                }
            });
        }

        function onDownload() {
             popUpProgressShow();
            //$.messagepanel.show("Download Success");
            $.fileDownload('@Url.Content("DayByDayProductionCoeficient/DownloadFileExcel")', {
	                httpMethod: "POST",
	                data: {
                        PROCESS_CD: $("#proccd").val(),
                        YYMM: $("#txtYear").val(),
                        COMPANY_CD: $("#comcd").text(),
	                    RowsPerPage: $("#cbodisplay").val(),
	                    CurrentPage: $(".pagination li.page-item.active a").text()//,
	                    //PageFlag: flag
	                },
                    successCallback: function (data) {
                        if (data == "ERROR") {
                            showErrorMesgGrowl(data);
                        }
                        else {
                            popUpProgressHide();
                            $('#confirmationDownload').css('display', 'none');
                            showSuccessMesgGrowl("Download Success");
                        }
	                },
	                failCallback: function (data) {
                        popUpProgressHide();
                        if (data == "ERROR") {
                            showErrorMesgGrowl("ERROR : Data not found");
                        }
                        else {
                            popUpProgressHide();
                            $('#confirmationDownload').css('display', 'none');
                            showSuccessMesgGrowl("Download Success");
                        }
                        $('#confirmationDownload').css('display', 'none');
	                }

            });

        }

        //Once the upload has completed
    //===================================================
    function onUploadDataFileSuccess(returnResult) {
        if (returnResult.ExceptionErrors != null || returnResult.ExceptionErrors != undefined) {
            showErrorMesgGrowl("<center>" + returnResult.ExceptionErrors[0] + "</center>");
        } else {
            if (returnResult.Params[0].length == 0) {
                showErrorMesgGrowl("You cant upload the template with empty data");
            } else {
                $("#importExcel").remove();
                $('#previewAlert').hide();
                $('#tblPreview tbody tr').remove();
                $('#uploadDataFilePopup').modal('hide');
                $('#btnEditUploaded').removeClass('saveEdit').text('Edit Upload');
                addDataToTableUploaded(true, returnResult);
            }
        }
    }

    function addDataToTableUploaded(bool, returnResult) {
        var obj = returnResult.Params[0];
        var index = 1; indexPrev = 1;
        if (returnResult.ErrMesgs >= 1 || returnResult.ErrMesgs != null || returnResult.ErrMesgs != undefined) {
            for (var i = 0; i < obj.length; i++) {
                addRowPreviewExcel(obj[i], returnResult.ErrMesgs);
                index++
            }
            var countEmptyField = checkIfEmpty(returnResult.ErrMesgs);
            //showErrorMesgGrowl("Upload is succeeded with several blank fields");
            showErrorMesgGrowl("Upload failed, blank fields or wrong format");
            $('#previewAlert').show();
            //$('strong#countEmpty').text(countEmptyField.length);
            //$("#previewUploadExcel").modal("show");
            //$('.modal-title').text('Preview Excel Upload');
            //$('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            editSaveUpload(returnResult.ErrMesgs);
            $("#tblPreview").attr("style", "");
        } else {
            //Change it to yours
            var params = new Object();
            var data = new Object();

            params.ScreenMode = gScreenMode;
            params.data = data;
            //var url = '@Url.Content("DayByDayProductionCoeficient/AddEditSave")';
            data.listData = []
            for (var i = 0; i < obj.length; i++) {
                var dtl = new Object();
                dtl.COMPANY_CD = obj[i].COMPANY_CD;
                dtl.PROCESS_CD = obj[i].PROCESS_CD;
                dtl.YYMM = obj[i].YYMM;
                dtl.LINE_CD = obj[i].LINE_CD;
                dtl.D_WORK_DAY_SYSTEM = obj[i].D_WORK_DAY_SYSTEM;
                dtl.D_WORK_DAY_HAND = obj[i].D_WORK_DAY_HAND;

                dtl.D_DAY_ALOC_RATIO_01 = obj[i].D_DAY_ALOC_RATIO_01;
                dtl.D_DAY_ALOC_RATIO_02 = obj[i].D_DAY_ALOC_RATIO_02;
                dtl.D_DAY_ALOC_RATIO_03 = obj[i].D_DAY_ALOC_RATIO_03;
                dtl.D_DAY_ALOC_RATIO_04 = obj[i].D_DAY_ALOC_RATIO_04;
                dtl.D_DAY_ALOC_RATIO_05 = obj[i].D_DAY_ALOC_RATIO_05;
                dtl.D_DAY_ALOC_RATIO_06 = obj[i].D_DAY_ALOC_RATIO_06;
                dtl.D_DAY_ALOC_RATIO_07 = obj[i].D_DAY_ALOC_RATIO_07;
                dtl.D_DAY_ALOC_RATIO_08 = obj[i].D_DAY_ALOC_RATIO_08;
                dtl.D_DAY_ALOC_RATIO_09 = obj[i].D_DAY_ALOC_RATIO_09;
                dtl.D_DAY_ALOC_RATIO_10 = obj[i].D_DAY_ALOC_RATIO_10;
                dtl.D_DAY_ALOC_RATIO_11 = obj[i].D_DAY_ALOC_RATIO_11;
                dtl.D_DAY_ALOC_RATIO_12 = obj[i].D_DAY_ALOC_RATIO_12;
                dtl.D_DAY_ALOC_RATIO_13 = obj[i].D_DAY_ALOC_RATIO_13;
                dtl.D_DAY_ALOC_RATIO_14 = obj[i].D_DAY_ALOC_RATIO_14;
                dtl.D_DAY_ALOC_RATIO_15 = obj[i].D_DAY_ALOC_RATIO_15;
                dtl.D_DAY_ALOC_RATIO_16 = obj[i].D_DAY_ALOC_RATIO_16;
                dtl.D_DAY_ALOC_RATIO_17 = obj[i].D_DAY_ALOC_RATIO_17;
                dtl.D_DAY_ALOC_RATIO_18 = obj[i].D_DAY_ALOC_RATIO_18;
                dtl.D_DAY_ALOC_RATIO_19 = obj[i].D_DAY_ALOC_RATIO_19;
                dtl.D_DAY_ALOC_RATIO_20 = obj[i].D_DAY_ALOC_RATIO_20;
                dtl.D_DAY_ALOC_RATIO_21 = obj[i].D_DAY_ALOC_RATIO_21;
                dtl.D_DAY_ALOC_RATIO_22 = obj[i].D_DAY_ALOC_RATIO_22;
                dtl.D_DAY_ALOC_RATIO_23 = obj[i].D_DAY_ALOC_RATIO_23;
                dtl.D_DAY_ALOC_RATIO_24 = obj[i].D_DAY_ALOC_RATIO_24;
                dtl.D_DAY_ALOC_RATIO_25 = obj[i].D_DAY_ALOC_RATIO_25;
                dtl.D_DAY_ALOC_RATIO_26 = obj[i].D_DAY_ALOC_RATIO_26;
                dtl.D_DAY_ALOC_RATIO_27 = obj[i].D_DAY_ALOC_RATIO_27;
                dtl.D_DAY_ALOC_RATIO_28 = obj[i].D_DAY_ALOC_RATIO_28;
                dtl.D_DAY_ALOC_RATIO_29 = obj[i].D_DAY_ALOC_RATIO_29;
                dtl.D_DAY_ALOC_RATIO_30 = obj[i].D_DAY_ALOC_RATIO_30;
                dtl.D_DAY_ALOC_RATIO_31 = obj[i].D_DAY_ALOC_RATIO_31;

                data.listData.push(dtl);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DayByDayProductionCoeficient/AddEditSave")',
                contentType: 'application/json',
                dataType: "json",
                traditional: true,
                data: JSON.stringify(params),
                beforeSend: function () {
                    popUpProgressShow();
                    console.log(params);
                },
                success: function (data) {
                    if (data.Result == "ERROR") {
                        showErrorMesgGrowl(data.ErrMesgs);
                        doSearch(1);
                    }
                    else {
                        showSuccessMesgGrowl("Save Success");
                        onSaveSuccess();
                    }
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                }
            });
            //Change it to yours
        }
    }

    function editSaveUpload(errMsg) {
        $(document).on('click', '#btnEditUploaded', function () {
            $(this).addClass('saveEdit').text('Save');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', false);
            $('#importExcel').remove();
        })

        $(document).on('click', '.saveEdit', function () {
            $(this).removeClass('saveEdit').text('Edit Upload');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            var countEmpty = checkIfEmpty(errMsg);
            if (countEmpty.length == 0) {
                console.log(countEmpty.length);
                $("#divPreviewExcel .text-right").append('<button type="button" class="btn btn-info btn-md" id="importExcel">Import </button>');
            } else {
                $("#importExcel").remove();
            }
        });
    }

    function addRowPreviewExcel(object, errMsg) {

        $('#tblPreview tbody').append(
            '<tr class="' + indexPrev + '">\
                    <td>'+ indexPrev + '</td>\
                    <td>\
                        <input type="text" class="form-control input-sm" id="Company_Cd_' + indexPrev + '"\
                            value="' + (object.COMPANY_CD == null ? "" : object.COMPANY_CD) + '">\
                    </td>\
                    <td>\
                        <input type="text" class="form-control input-sm" id="Process_Code_' + indexPrev + '"\
                            value="' + (object.PROCESS_CD == null ? "" : object.PROCESS_CD) + '">\
                    </td>\
                    <td>\
                        <input type="text" class="form-control input-sm _datepicker" id="yymm_' + indexPrev + '"\
                            value="' + (object.YYMM == null ? "" : object.YYMM) + '">\
                    </td>\
                    <td>\
                        <input type="text" class="form-control input-sm" id="Line_Code_' + indexPrev + '"\
                            value="' + (object.LINE_CD == null ? "" : object.LINE_CD) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Work_Day_System_' + indexPrev + '"\
                            value="' + (object.D_WORK_DAY_SYSTEM == null ? "" : object.D_WORK_DAY_SYSTEM) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Work_Day_Hand_' + indexPrev + '"\
                            value="' + (object.D_WORK_DAY_HAND == null ? "" : object.D_WORK_DAY_HAND) + '">\
                    </td>\
                    <td hidden>\
                        <input type="number" class="hidden" id="Day_Aloc_Ratio_01_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_01 == null ? "" : object.D_DAY_ALOC_RATIO_01) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_02_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_02 == null ? "" : object.D_DAY_ALOC_RATIO_02) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_03_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_03 == null ? "" : object.D_DAY_ALOC_RATIO_03) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_04_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_04 == null ? "" : object.D_DAY_ALOC_RATIO_04) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_05_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_05 == null ? "" : object.D_DAY_ALOC_RATIO_05) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_06_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_06 == null ? "" : object.D_DAY_ALOC_RATIO_06) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_07_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_07 == null ? "" : object.D_DAY_ALOC_RATIO_07) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_08_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_08 == null ? "" : object.D_DAY_ALOC_RATIO_08) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_09_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_09 == null ? "" : object.D_DAY_ALOC_RATIO_09) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_10_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_10 == null ? "" : object.D_DAY_ALOC_RATIO_10) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_11_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_11 == null ? "" : object.D_DAY_ALOC_RATIO_11) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_12_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_12 == null ? "" : object.D_DAY_ALOC_RATIO_12) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_13_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_13 == null ? "" : object.D_DAY_ALOC_RATIO_13) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_14_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_14 == null ? "" : object.D_DAY_ALOC_RATIO_14) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_15_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_15 == null ? "" : object.D_DAY_ALOC_RATIO_15) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_16_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_16 == null ? "" : object.D_DAY_ALOC_RATIO_16) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_17_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_17 == null ? "" : object.D_DAY_ALOC_RATIO_17) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_18_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_18 == null ? "" : object.D_DAY_ALOC_RATIO_18) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_19_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_19 == null ? "" : object.D_DAY_ALOC_RATIO_19) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_20_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_20 == null ? "" : object.D_DAY_ALOC_RATIO_20) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_21_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_21 == null ? "" : object.D_DAY_ALOC_RATIO_21) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_22_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_22 == null ? "" : object.D_DAY_ALOC_RATIO_22) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_23_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_23 == null ? "" : object.D_DAY_ALOC_RATIO_23) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_24_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_24 == null ? "" : object.D_DAY_ALOC_RATIO_24) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_25_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_25 == null ? "" : object.D_DAY_ALOC_RATIO_25) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_26_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_26 == null ? "" : object.D_DAY_ALOC_RATIO_26) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_27_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_27 == null ? "" : object.D_DAY_ALOC_RATIO_27) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_28_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_28 == null ? "" : object.D_DAY_ALOC_RATIO_28) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_29_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_29 == null ? "" : object.D_DAY_ALOC_RATIO_29) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_30_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_30 == null ? "" : object.D_DAY_ALOC_RATIO_30) + '">\
                    </td>\
                    <td hidden>\
                        <input class="hidden" id="Day_Aloc_Ratio_31_' + indexPrev + '"\
                            value="' + (object.D_DAY_ALOC_RATIO_31 == null ? "" : object.D_DAY_ALOC_RATIO_31) + '">\
                    </td>\
                </tr>'
        );
       
        datePicker();
        clearOnPreviewEvent(indexPrev, errMsg);
        indexPrev++;
    }

    function clearOnPreviewEvent(i, errMsg) {
        $(document).on("change",
            "#Company_Cd_" + i
              + ",#Process_Code_" + i
              + ",#yymm_" + i
              + ",#Line_Code_" + i
            + ",#Work_Day_System_" + i
            + ",#Work_Day_Hand_" + i
            + ",#Day_Aloc_Ratio_01_" + i
            + ",#Day_Aloc_Ratio_02_" + i
            + ",#Day_Aloc_Ratio_03_" + i
            + ",#Day_Aloc_Ratio_04_" + i
            + ",#Day_Aloc_Ratio_05_" + i
            + ",#Day_Aloc_Ratio_06_" + i
            + ",#Day_Aloc_Ratio_07_" + i
            + ",#Day_Aloc_Ratio_08_" + i
            + ",#Day_Aloc_Ratio_09_" + i
            + ",#Day_Aloc_Ratio_10_" + i
            + ",#Day_Aloc_Ratio_11_" + i
            + ",#Day_Aloc_Ratio_12_" + i
            + ",#Day_Aloc_Ratio_13_" + i
            + ",#Day_Aloc_Ratio_14_" + i
            + ",#Day_Aloc_Ratio_15_" + i
            + ",#Day_Aloc_Ratio_16_" + i
            + ",#Day_Aloc_Ratio_17_" + i
            + ",#Day_Aloc_Ratio_18_" + i
            + ",#Day_Aloc_Ratio_19_" + i
            + ",#Day_Aloc_Ratio_20_" + i
            + ",#Day_Aloc_Ratio_21_" + i
            + ",#Day_Aloc_Ratio_22_" + i
            + ",#Day_Aloc_Ratio_23_" + i
            + ",#Day_Aloc_Ratio_24_" + i
            + ",#Day_Aloc_Ratio_25_" + i
            + ",#Day_Aloc_Ratio_26_" + i
            + ",#Day_Aloc_Ratio_27_" + i
            + ",#Day_Aloc_Ratio_28_" + i
            + ",#Day_Aloc_Ratio_29_" + i
            + ",#Day_Aloc_Ratio_30_" + i
            + ",#Day_Aloc_Ratio_31_" + i, function () {
               clearOnEvent(this, errMsg);
        });
    }

    function clearOnEvent(element, errMsg) {
        var id = $(element).attr('id');
        var lastChar = "";
            $(element).removeClass("emptyField mandatory");
            if ($(element).parent().hasClass("customTooltip")) {
                $(element).unwrap();
            }
        var countEmptyPreview = checkIfEmpty(errMsg);
        $('strong#countEmpty').text(countEmptyPreview.length);
        if (countEmptyPreview.length == 0) {
            $("#previewAlert").hide();
        } else {
            $("#previewAlert").show();
        }
    }


    function checkIfEmpty(errMsg) {
        var countEmptyField = [];
        $(".customToolTipText").remove();
        $("#divPreviewExcel input.form-control, #divPreviewExcel select").each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                    if ($(this).parent().hasClass("customTooltip")) {
                        $(this).unwrap();
                    }
                    $(this).wrapAll("<div class='customTooltip'></div>")
                    $(this).addClass("mandatory");
                    $(this).after("<span class='customToolTipText'><small class='errorMsg'>Cell is empty</small><i></i></span>");
                    $(this).closest('tr').attr('id','hasEmptyCells');
                    countEmptyField.push(1);
            }
        });
        if (errMsg != null) {
            for (var j = 0; j < errMsg.length; j++) {
                var str1 = errMsg[j].slice(0, errMsg[j].indexOf(" ")) + "_";
                var str2 = errMsg[j].replace(/[^0-9]/gi, '');
                var id = str1.concat(str2);
                if ($("#" + id).parent().hasClass("customTooltip")) {
                    $("#" + id).next(".customToolTipText").find('.errorMsg').addClass(id);
                    $(".errorMsg." + id).text(errMsg[j]);
                }
            }
        }
        $('#tblPreview tbody tr').each(function () {
            if ($(this).attr('id') != 'hasEmptyCells') {
                $(this).hide();
            }
        });
        return countEmptyField;
    }
    //===================================================

    </script>

}