@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;
@using GPPSU.Commons.Constants;
@using GPPSU.Models.StockLevelMasterSettings;

@using GPPSU.Models.Common;
@{
    PagingModel page = ViewData["Paging"] != null ? (PagingModel)ViewData["Paging"] : new PagingModel(0, 1, 10);
    char a = (char)64;

    List<StockLevelMasterSettings> listData = (List<StockLevelMasterSettings>)ViewData["stockMMData"];
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkall").click(function () {
            $(".grid-checkbox").prop("checked", $("#checkall").is(":checked"));
        });

        $(".grid-checkbox").click(function () {
            $("#checkall").prop("checked", $('.grid-checkbox:not(#checkall)').not(':checked').length == 0);
        });
    });
</script>

<div class="customContainer" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <button id="btnUpload" type="button" class="btn btn-info initialBtn">Upload</button>
                        <button type="button" id="btn-download" class="btn btn-primary initialBtn" onclick="onDownload()">Download</button>
                    </div>
                    <div class="col-md-9 text-right">
                        <button class="btn btn-md btn-primary initialBtn" id="insertLine">Add</button>
                        <button type="button" id="btn-search" class="btn btn-danger initialBtn" onclick="onDelete()">Delete</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="table-responsive customTableBorder">
                            <div class="tableScroll">
                                <table class="customTable text-center" id="tblDetail" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="pl-3 pr-3">
                                                <input class="grid-checkboxDetail ace initialBtn" type="checkbox" id="checkall" />
                                                <span class="lbl" title="Choose"></span>
                                            </th>
                                            <th>Action</th>
                                            <th>Process Code</th>
                                            <th>Line Code</th>
                                            <th>Car Family Code</th>
                                            <th>Part No</th>
                                            <th>Status Code</th>
                                            <th>Export Code</th>
                                            <th>Part Name</th>
                                            <th>Unit Sign</th>
                                            <th>Min Stock</th>
                                            <th>Max Stock</th>
                                            <th>T/C (Form)</th>
                                            <th>T/C (To)</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (listData.Count < 1)
                                        {
                                            <tr>
                                                <td colspan="16" class="text-center"> No Data Found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (StockLevelMasterSettings data in listData)
                                            {

                                    <tr>
                                        @{
                                            a++;
                                        }
                                        <td>
                                            <input name="chkRow" type="checkbox" class="grid-checkbox ace grid-checkbox-body initialBtn" value="@data.SEQ_NO" data-lineCd="@data.LINE_CD" data-companyCd="@data.COMPANY_CD" data-seqNo="@data.SEQ_NO" />
                                            <span class="lbl"></span>
                                        </td>
                                        <td>
                                            <button class="btn initialBtn btn-md btn-outline-primary pt-0 pb-0 pl-1 pr-1" title="Edit" id="editLine" data-SeqNo="@data.SEQ_NO" data-PartNo1="@data.PART_NO1" data-PartNo2="@data.PART_NO2" data-PartNo3="@data.PART_NO3">
                                                <small><i class="fa fa-pen"></i></small>
                                            </button>
                                            <button class="btn initialBtn btn-md btn-outline-info pt-0 pb-0 pl-1 pr-1" title="Copy Line" id="copyLine" data-PartNo1="@data.PART_NO1" data-PartNo2="@data.PART_NO2" data-PartNo3="@data.PART_NO3">
                                                <small><i class="fa fa-copy"></i></small>
                                            </button>
                                            <button class="btn initialBtn btn-md btn-outline-warning pt-0 pb-0 pl-1 pr-1" title="Delete" @*onclick="onDeleteSingle('@data.SEQ_NO')"*@ id="deleteLine" data-SeqNo="@data.SEQ_NO">
                                                <small><i class="fa fa-trash"></i></small>
                                            </button>
                                        </td>
                                        <td> @data.PROCESS_CD</td>
                                        <td> @data.LINE_CD</td>
                                        <td> @data.CFC</td>
                                        <td> @data.PART_NO1-@data.PART_NO2-@data.PART_NO3</td>
                                        <td> @data.STATUS_CD</td>
                                        <td> @data.EXPORT_CD</td>
                                        <td> @data.PART_NAME</td>
                                        <td> @data.UNIT_SIGN</td>
                                        <td> @data.MIN_STOCK </td>
                                        <td> @data.MAX_STOCK </td>
                                        <td id="tdTcFrom"> @data.TC_FROM</td>
                                        <td id="tdTcTo"> @data.TC_TO</td>
                                        <td> @data.CREATED_BY </td>
                                        <td> @data.CREATED_DT </td>
                                    </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            @Html.Partial("_UIPaging", page)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>