@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_SearchCriteria")

@section HeadScript{

}

<div id="divGrid">
    @Html.Partial("_GridView")
</div>

@*<div id="confirmationDownload" class="bootstrap-growl alert alert-success" style="position: fixed; margin: 0px 0px 0px -125px; z-index: 9999; top: 20px; width: 250px; left: 50%; display:none;">
    <a class="close" onClick="btnDownloadClose_onClick()">×</a>Download berdasarkan ?
    <br /><br /><button type="button" class="btn btn-warning" onClick="btnDownloadAct_onClick(0)">All page</button>
    &nbsp<button type="button" class="btn btn-success" onClick="btnDownloadAct_onClick(1)">Per page</button>
</div>*@

<div class="modal fade" id="confirmationDownload">
    <div class="modal-dialog" style="width: 25%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="" align="center">Download excel file based on ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block mb-0" onClick="btnDownloadAct_onClick(0)">All Page</button>
                <button type="button" class="btn btn-info btn-block mt-1" onClick="btnDownloadAct_onClick(1)">Current Page</button>
            </div>
        </div>
    </div>
</div>

<!-- Upload AREA-->
<div id="uploadDataFilePopup" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="basicModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Upload Area</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Dropzone AREA-->
                        <div id="actions" class="row">
                            <div class="col-md-12 fileinput-button mb-2">
                                <div class="row justify-content-center">
                                    <i class="fa fa-cloud-upload-alt fa-5x" style="opacity: 0.3"></i>
                                </div>
                                <div class="row justify-content-center pt-2">
                                    <span style="color: #999; font-size: 20px;"><i class="fa fa-caret-right blue" style="opacity: 0.7"></i> Drop files to upload <small>(or click)</small> </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table table-striped" id="previews">
                                <div id="template" class="file-row">
                                    <div>
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:0%;" data-dz-uploadprogress><span class="progress-text"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dropzone AREA-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-left">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">
                        <button type="button" class="btn btn-info" id="linkDownloadTemplate">Download Template </button>
                        <button type="button" id="btnUploadPopupClose" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upload End-->

@*<input type="hidden" id="txtPartNo"/>*@

<div id="divPreviewExcel">
    @Html.Partial("_ModalPreviewExcelUpload")
</div>

@section BodyScript{

    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.bootstrap-growl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-msgbox/jquery.msgBox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.filedownload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.bootstrap-growl.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>

    <script>

    var gScreenMode = "";
    var gSeqNo = "";
    var gSeqNoDelete = "";

    var gPartNo1 = "";
    var gPartNo2 = "";
    var gPartNo3 = "";

    var initialeq4 = `
            5P2P8-80003-00
        `;

    var initialEqDateFrom = `
        01/01/2021
    `;

    var modifiedPartsNo = `
            <input type="text" id="partNo1" name="partNo1" maxlength="5" style="width:45px"/>
            <strong><b>-</b></strong>
            <input type="text" id="partNo2" name="partNo2" maxlength="5" style="width:45px"/>
            <strong><b>-</b></strong>
            <input type="text" id="partNo3" name="partNo3" maxlength="2" style="width:20px"/>
        `;

    var initialeq11 = `
            2003/11/21
        `;

    var modifiedDatePickerFrom = `
            <div class="input-group">
                <input class="form-control _datepicker" id="txtTC_FROM1" name="txtTC_FROM1" type="text" data-date-format="dd.mm.yyyy"/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        `;
    var modifiedDatePickerTo = `
            <div class="input-group">
                <input class="form-control _datepicker" id="txtTC_TO1" name="txtTC_TO1" type="text" data-date-format="dd.mm.yyyy"/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        `;

    var trBaseColor;
    var dataEditCopy = [];
    $(document).ready(function () {

        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone("#actions", {
            url: "@Html.Toyota().Page.GetActionUrl("UploadDataFile")",
            paramName: "file",
            maxFiles: 1,
            acceptedFiles: ".xls",
            addRemoveLinks: false,
            previewTemplate: previewTemplate,
            autoQueue: true,
            clickable: ".fileinput-button",
            uploadprogress: function (file, progress, bytesSent) {
                if (file.previewElement) {
                    var progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                    progressElement.style.width = progress + "%";
                    progressElement.querySelector(".progress-text").textContent = Math.round(progress) + "%";
                }
            },
            success: function (file, returnResult) {
                onUploadDataFileSuccess(returnResult);
            },
            complete: function () {

            },
            error: function (file, errormessage) {
                if (file.previewElement) {
                    showErrorMesgGrowl(errormessage);
                }
            },
        });

        myDropzone.on("complete", function (file) {
            myDropzone.removeFile(file);
        });

        $(document).one('ajaxloadstart.page', function (e) {
            try {
                myDropzone.destroy();
            } catch (e) { }
        });

        $(document).on("click", "#insertLine", function () {
            gScreenMode = "ADD";
            addTheFirstRow(this);
            //dataEditCopy.length = 0;
            //$("._datepicker").datepicker({
            //    format: 'yyyymmdd',
            //    autoclose: true,
            //    minViewMode: 'date'
            //});
        });

        $(document).on("click", "#cancelSubmit", function () {
            $.messagebox.show(
                "Cancel Add/Edit",
                "MCSTSTD011C: Are you sure you want to cancel the operation?",
                "INF",
                "CONFIRM",
                "onSaveSuccess()",
                ""
            );
        });

        $(document).on("click", "#editLine", function () {
            gScreenMode = "EDIT";
            gSeqNo = $("#editLine").attr('data-SeqNo');
            gPartNo1 = $(this).attr('data-PartNo1');
            gPartNo2 = $(this).attr('data-PartNo2');
            gPartNo3 = $(this).attr('data-PartNo3');
            dataEditCopy.length = 0;
            var tr = initializeEditCopyLine(this);
            tr.addClass($(this).attr("id"));
            loopThrougTableRow(tr, $(this).attr('id'), "Edit");

            trBaseColor = getComputedStyle(document.querySelector("." + $(this).attr('id') + "")).backgroundColor;
            tr.css("background-color", "#E9E9E9");

            $("#partNo1").val(gPartNo1);
            $("#partNo2").val(gPartNo2);
            $("#partNo3").val(gPartNo3);
            //$("._datepicker").datepicker({
            //    format: 'yyyymmdd',
            //    autoclose: true,
            //    minViewMode: 'date'
            //});
        });

        $(document).on("click", "#copyLine", function () {
            gScreenMode = "ADD";
            addTheFirstRow(this);
            dataEditCopy.length = 0;
            gPartNo1 = $(this).attr('data-PartNo1');
            gPartNo2 = $(this).attr('data-PartNo2');
            gPartNo3 = $(this).attr('data-PartNo3');
            $("#txtProcessCode").val('');
            $("#txtPartName").val('');
            $("#txtUnitSign").val('');
            $("#partNo1").val(gPartNo1);
            $("#partNo2").val(gPartNo2);
            $("#partNo3").val(gPartNo3);
        });

        $(document).on("click", "#deleteLine", function () {
            gSeqNo = $("#deleteLine").attr('data-SeqNo');
            $.messagebox.show(
                "Delete Confirmation",
                "Are you sure you want to delete the record ?",
                "INF",
                "CONFIRM",
                "onConfirmDeleteSingle(" + gSeqNo + ")",
                ""
            );
        });

        $(document).on("click", "#btnUpload", function () {
            gScreenMode = "Upload";
            $("#uploadDataFilePopup").modal();
        });

        $(document).on("click", "#linkDownloadTemplate", function () {
            popUpProgressShow();
            $.fileDownload('@Url.Content("~/StockLevelMasterSettings/DownloadTemplate")', {
                httpMethod: "POST",
                data: {},
                successCallback: function (url) {
                    popUpProgressHide();
                },
                failCallback: function (responseHtml, url) {
                    popUpProgressHide();
                    var returnResult = JSON.parse(responseHtml.replace("<pre>", "").replace("</pre>", ""));
                    handleAjaxResultGrowl(returnResult, "Download Template");
                }
            });
        });

        $(document).on('click', '#importExcel', function () {
            var params = new Object();
            var data = new Object();
            //var method = "IMPORT";
            params.ScreenMode = gScreenMode;
            params.data = data;
            var i = 1;
            data.listData = []

            $('#tblPreview tbody tr').each(function () {
                var dtl = new Object();
                dtl.LINE_CD = $(this).find('input#LINE_CD_' + i).val();
                dtl.CFC = $(this).find('input#CFC_' + i).val();
                dtl.PART_NO = $(this).find('input#PART_NO_' + i).val();
                dtl.STATUS_CD = $(this).find('input#Status_Code_' + i).val();
                dtl.EXPORT_CD = $(this).find('input#EXPORT_CD_' + i).val();
                dtl.MIN_STOCK = $(this).find('input#MIN_STOCK_' + i).val();
                dtl.MAX_STOCK = $(this).find('input#MAX_STOCK_' + i).val();
                dtl.TC_FROM = $(this).find('input#TC_FROM_' + i).val();
                dtl.TC_TO = $(this).find('input#TC_TO_' + i).val();

                //dtl.COMPANY_CD = $(this).find('#Company_Code_' + i).val();
                dtl.COMPANY_CD = $("#txtcomcd").val();
                // dtl.SEQ_NO = $(this).find('#Seq_No_' + i).val();
                //dtl.SEQ_NO = $("#Seq_No_"+ i).val();

                data.listData.push(dtl);
                i++;
            });
            params.data = data;

            $.ajax({
                type: 'POST',
                url: '@Url.Content("StockLevelMasterSettings/SaveAddEdit")',
                contentType: 'application/json',
                dataType: "json",
                traditional: true,
                data: JSON.stringify(params),
                beforeSend: function () {
                    popUpProgressShow();
                    console.log(params);
                },
                success: function (data) {
                    if (data.ErrMesgs != null) {
                        for (var i = 0; i < data.ErrMesgs.length; i++) {
                            if (data.ErrMesgs[i] != null) {
                                showErrorMesgGrowl(data.ErrMesgs[i]);
                            }
                        }
                        $("#previewUploadExcel").modal("hide");
                        doSearch(1);
                    } else {
                        showSuccessMesgGrowl("Save Success");
                        onSaveSuccess();
                    }
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                }
            });
        });

    })

    function confirmCancel() {

    }

    function datePicker() {
        $("._datepicker").datepicker({
            format: 'yyyymmdd',
            autoclose: true,
            minViewMode: 'date',
            orientation: 'auto bottom'
        }).on('show', function () {
            $(".datepicker-orient-bottom").removeClass("datepicker-orient-bottom");
            $(".datepicker-dropdown").addClass("datepicker-orient-top");
        });
    }

    function addTheFirstRow(e) {
        btnAddRow_onClick(e);
        $(".initialBtn").prop("disabled", true);
        $("input[type=checkbox]").prop("checked", false);
    }

    function btnAddRow_onClick(classAttr) {
        var $class = $(classAttr).attr('id');
        var tr = $class == 'insertLine' ? $("#tblDetail tbody tr:first") : $(classAttr).closest("tr");
        $(".tableScroll").scrollTop(0);
        tr.clone().addClass($class).css("background-color", "#E9E9E9").prependTo("#tblDetail tbody");

        loopThrougTableRow($("#tblDetail tbody tr." + $class + ""), $class, "Add");
    }

    function initializeEditCopyLine(e) {
        var tr = $(e).closest("tr");
        $("input[type=checkbox]").prop("checked", false);
        $(".initialBtn").prop("disabled", true);

        return tr;
    }

    function loopThrougTableRow(tr, classAttr, mode) {
        tr.each(function (i, e) {
            var i = $(e).children('td');
            for (var x = 2; x < i.length; x++) {
                var val = classAttr == "insertLine" ? "" : i.eq(x).text();
                if (x == 2) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtProcessCode' value='" + val.trim() + "'/>");
                } else if (x == 3) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtLineCd' style='width: 80px;' maxlength='6' value='" + val.trim() + "'/>");
                } else if (x == 4) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtCFC' maxlength='4' value='" + val.trim() + "'/>");
                //} else if (x == 5) {
                //    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtPartNo' value='" + val.trim() + "'/>");
                } else if (x == 5) {
                    i.eq(x).html(modifiedPartsNo);
                } else if (x == 6) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtStatusCode' maxlength='1' value='" + val.trim() + "'/>");
                } else if (x == 7) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtExportCode' maxlength='1' value='" + val.trim() + "'/>");
                } else if (x == 8) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtPartName' value='" + val.trim() + "'/>");
                } else if (x == 9) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtUnitSign' value='" + val.trim() + "'/>");
                } else if (x == 10) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtMinStock' maxlength='6' value='" + val.trim() + "'/>");
                } else if (x == 11) {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' id='txtMaxStock' maxlength='6' value='" + val.trim() + "'/>");
                } else if (x == 12) {
                    i.eq(12).html(tdTcFrom(val));
                } else if (x == 13) {
                    i.eq(13).html(tdTcTo(val));
                } else {
                    i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' value='" + val.trim() + "'/>");
                }

                dataEditCopy.push(val);
            }
            if (mode == "Edit") {
                i.eq(2).children().prop("disabled", true);
                i.eq(3).children().prop("disabled", true);
                i.eq(4).children().prop("disabled", true);
                i.eq(5).children().prop("disabled", true);
                i.eq(6).children().prop("disabled", true);
                i.eq(7).children().prop("disabled", true);
                i.eq(8).children().prop("disabled", true);
                i.eq(9).children().prop("disabled", true);
                i.eq(14).children().prop("disabled", true);
                i.eq(15).children().prop("disabled", true);
            }
            else {
                i.eq(2).children().prop("disabled", true);
                i.eq(8).children().prop("disabled", true);
                i.eq(9).children().prop("disabled", true);
                i.eq(14).children().prop("disabled", true);
                i.eq(15).children().prop("disabled", true);
                i.eq(14).children().val('');
                i.eq(15).children().val('');
            }

            i.eq(1).html(modifiedButton);
            //i.eq(4).html(modifiedPartsNo);
            //i.eq(11).html(modifiedDatePickerFrom);
            //i.eq(12).html(modifiedDatePickerTo);

            datePicker();

        });
        $("#tblDetail tbody tr:not(." + tr.attr("class") + ")").css("opacity", "0.3");
    }


        function tdTcFrom(val) {
            var string = `
             <div class="input-group">
                        <input class="form-control _datepicker" style="width: 100px;" id="txtTC_FROM" name="txtTC_FROM" type="text" value="`+ val + `"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
            `;
            return string
        }

        function tdTcTo(val) {
            var string = `
             <div class="input-group">
                        <input class="form-control _datepicker" style="width: 100px;" id="txtTC_TO" name="txtTC_TO" type="text" value="`+ val + `"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
            `;
            return string
        }


    $(document).on("click", "#btnSave", function () {

        var result;

        var tr = $(this).closest("tr");
        //$("#tblDetail tbody tr").css("opacity", "1");
        //$(".initialBtn").prop("disabled", false);
        if (tr.attr("class") == "editLine") {
            result = onSave(gScreenMode);
            if (result == true) {
                tr.each(function (i, e) {
                    $(e).removeClass($(e).attr("class"));
                    $(e).css("background-color", trBaseColor);
                    var i = $(e).children('td');
                    for (var x = 2; x <= i.length; x++) {
                        var val = i.eq(x).children().val();
                        i.eq(x).html(val);
                    }
                    i.eq(1).html(initialButton);
                    i.eq(12).html(modifiedDatePickerFrom);
                    i.eq(13).html(modifiedDatePickerTo);
                });
            }

        }
        else {
            result = onSave(gScreenMode);
            console.log(result);
            if (result == true) {
                $("#tblDetail tbody tr").css("opacity", "1");
                $(".initialBtn").prop("disabled", false);
                $(this).closest("tr").remove();
            }

        }
    });

    //ON SAVE DATA[START]
    function onSave(mode) {

        //var varPartNo1 = $("#partNo1").val();
        //var varPartNo2 = $("#partNo2").val();
        //var varPartNo3 = $("#partNo3").val();
        //var varPartNoAll = varPartNo1 + varPartNo2 + varPartNo3;

        var result = true;
        var cekExportCode = false;

        var params = new Object();
        var datas = new Object();

        params.ScreenMode = gScreenMode;
        params.data = datas;
        var errorinf = 0;

        datas.SEQ_NO = gSeqNo;
        datas.COMPANY_CD = $("#txtcomcd").val();
        datas.LINE_CD = $("#txtLineCd").val();
        datas.CFC = $("#txtCFC").val();
        //datas.PART_NO = $("#txtPartNo").val();
        datas.PART_NO1 = $("#partNo1").val();
        datas.PART_NO2 = $("#partNo2").val();
        datas.PART_NO3 = $("#partNo3").val();
        datas.STATUS_CD = $("#txtStatusCode").val();
        datas.EXPORT_CD = $("#txtExportCode").val();
        datas.PART_NAME = $("#txtPartName").val();
        datas.UNIT_SIGN = $("#txtUnitSign").val();
        datas.MIN_STOCK = $("#txtMinStock").val();
        datas.MAX_STOCK = $("#txtMaxStock").val();
        datas.TC_FROM = $("#txtTC_FROM").val();
        datas.TC_TO = $("#txtTC_TO").val();

        if (datas.LINE_CD == '' || datas.LINE_CD == null) {
            showErrorMesgGrowl("Line Code should not be empty");
            result = false;
        }
        else if (datas.CFC == '' || datas.CFC == null) {
            showErrorMesgGrowl("Car Family Code should not be empty");
            result = false;
        }
        else if (datas.PART_NO1 == '' || datas.PART_NO1 == null) {
            showErrorMesgGrowl("Part No should not be empty");
            result = false;
        }
        else if (datas.PART_NO2 == '' || datas.PART_NO2 == null) {
            showErrorMesgGrowl("Part No should not be empty");
            result = false;
        }
        else if (datas.PART_NO3 == '' || datas.PART_NO3 == null) {
            showErrorMesgGrowl("Part No should not be empty");
            result = false;
        }
        else if (datas.STATUS_CD == '' || datas.STATUS_CD == null) {
            showErrorMesgGrowl("Status Code should not be empty");
            result = false;
        }
        else if (datas.EXPORT_CD == '' || datas.EXPORT_CD == null) {
            showErrorMesgGrowl("Export Code should not be empty");
            result = false;
        }
        else if (datas.MIN_STOCK == '' || datas.MIN_STOCK == null) {
            showErrorMesgGrowl("Min Stock should not be empty");
            result = false;
        }
        else if (datas.MAX_STOCK == '' || datas.MAX_STOCK == null) {
            showErrorMesgGrowl("Max Stock should not be empty");
            result = false;
        }
        else if (datas.TC_FROM == '' || datas.TC_FROM == null) {
            showErrorMesgGrowl("TC From should not be empty");
            result = false;
        }
        else if (datas.TC_TO == '' || datas.TC_TO == null) {
            showErrorMesgGrowl("TC To should not be empty");
            result = false;
        }
        //else if (datas.EXPORT_CODE == 'D' || datas.EXPORT_CODE == 'E' || datas.EXPORT_CODE == 'Z') {
        //    cekExportCode = true;
        //}
        //else if (cekExportCode != false) {
        //    showErrorMesgGrowl("Export Code input only D, E, Z");
        //    result = false;
        //}
        else if (datas.TC_FROM > datas.TC_TO) {
            showErrorMesgGrowl("TC From must be larger than TC To");
            result = false;
        }

        if (result != false) {
            $.ajax({
                    type: 'POST',
                    url: '@Url.Content("StockLevelMasterSettings/SaveAddEdit")',
                    contentType: 'application/json',
                    dataType: "json",
                    traditional: true,
                    data: JSON.stringify(params),
                    beforeSend: function () {
                        popUpProgressShow();
                        console.log(params);
                    },
                success: function (data) {
                    console.log(data.Result);
                         if (data.Result == "ERROR") {
                             showErrorMesgGrowl(data.ErrMesgs);
                             onSaveSuccess();
                         }
                         else {
                             showSuccessMesgGrowl("Save Success");
                             onSaveSuccess();
                        }
                        popUpProgressHide();
                    },
                    error: function (data) {
                        popUpProgressHide();
                        showErrorMesgGrowl(data.ErrMesgs);
                    },
                    complete: function () {
                        popUpProgressHide();
                    }
            });
        }
      return result;
    }

    function onSaveSuccess() {
        onClear();
        $(".initialBtn").prop("disabled", false);
        $("#previewUploadExcel").modal("hide");
    }
    //ON SAVE DATA[END]

    @*function onDownload() {
        //$.messagepanel.show("Download Success");
        $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("download")",
            async: false,
            data: {

            },
            success: function (data) {
                $.messagepanel.showContent(data);
            },
            error: function (data) {
                $.messagepanel.show("Error");
            }
        });
    }*@

    //DELETE DATA[STATR]
    function onDelete() {
        var checked = $(".grid-checkbox-body:checked").length;

        if (checked < 1) {
            showErrorMesgGrowl('Select at least one data');
        }
        else {
            $.messagebox.show(
                "Delete Confirmation",
                "Are you sure you want to delete the record ?",
                "INF",
                "CONFIRM",
                "onConfirmDelete()",
                ""
            );
        }
    }

    function onConfirmDelete() {
        var SEQ_NO = "";
        var listData = [];
        var a = "";

        $(".grid-checkbox-body:checked").each(function () {
            var Data = new Object();
            Data.SEQ_NO = $(this).val();
            listData.push(Data);

            if (SEQ_NO === "") {
                SEQ_NO = $(this).val();
            }
            else {
                SEQ_NO = SEQ_NO + ";" + $(this).val();
            }
        });

        var data = new Object();
        data.listData = listData;
        data.SEQ_NO = SEQ_NO;

        $.ajax({
            type: 'POST',
            url: '@Url.Content("StockLevelMasterSettings/Delete")',
            contentType: "application/json",
            dataType: "json",
            traditional: true,
            data: JSON.stringify(data),
            beforeSend: function () {
                popUpProgressShow();
            },
            success: function (data) {
                if (data.Result == "ERROR") {
                    showErrorMesgGrowl(data.ErrMesgs);
                }
                else {
                    showSuccessMesgGrowl("Delete Success");
                    popUpProgressHide();
                    doSearch(1);
                }
            },
            error: function (data) {
                showErrorMesg(data.ErrMesgs);
            },
            complete: function () {
                popUpProgressHide();
                $("#deleteConfirmation").modal("hide");
            }
        });
    }

    function onDeleteSingle(SeqNo) {
       
    }

    function onConfirmDeleteSingle(SeqNo) {

        $.ajax({
            type: 'POST',
            url: '@Url.Content("StockLevelMasterSettings/Delete")',
            data: { SEQ_NO: SeqNo},
            beforeSend: function () {
                popUpProgressShow();
            },
            success: function (data) {
                if (data.Result == "ERROR") {
                    showErrorMesgGrowl(data.ErrMesgs);
                }
                else {
                    showSuccessMesgGrowl("Delete Success");
                    popUpProgressHide();
                    doSearch(1);
                }
            },
            error: function (data) {
                showErrorMesg(data.ErrMesgs);
            },
            complete: function () {
                popUpProgressHide();
                $("#deleteConfirmation").modal("hide");
            }
        });
    }
    //DELETE DATA[END]

    //DOWNLOAD DATA[STATR]
 //   function btnDownloadClose_onClick() {
	//    $('#confirmationDownload').css('display', 'none');
	//}

	function onDownload() {
        $('#confirmationDownload').modal();
	}


    function btnDownloadAct_onClick(flag) {
            popUpProgressShow();
        //$.messagepanel.show("Download Success");
        $.fileDownload('@Url.Content("StockLevelMasterSettings/DownloadFileExcel")', {
	            httpMethod: "POST",
	            data: {
                    PROCESS_CD: $("#cmbProcessCode").val(),
                    LINE_CD: $("#txtSearchLineCode").val(),
                    CFC: $("#txtSearchCarFamilyCode").val(),
                    STATUS_CD: $("#cmbSearchStatusCode").val(),
	                RowsPerPage: $("#cbodisplay").val(),
	                CurrentPage: $(".pagination li.page-item.active a").text(),
	                PageFlag: flag
	            },
                successCallback: function (data) {
                    if (data == "ERROR") {
                        showErrorMesgGrowl(data);
                    }
                    else {
                        popUpProgressHide();
                        //$('#confirmationDownload').css('display', 'none');
                        $('#confirmationDownload').modal("hide");
                        showSuccessMesgGrowl("Download Success");
                    }
	            },
	            failCallback: function (data) {
                    popUpProgressHide();
                    if (data == "ERROR") {
                        showErrorMesgGrowl("ERROR : Data not found");
                    }
                    else {
                        popUpProgressHide();
                        $('#confirmationDownload').css('display', 'none');
                        showSuccessMesgGrowl("Download Success");
                    }
                    //$('#confirmationDownload').css('display', 'none');
                    $('#confirmationDownload').modal("hide");
	                //var returnResult = JSON.parse(responseHtml.replace("<pre>", "")
                    //    .replace("</pre", ""));
                    //
	                //handleAjaxResultGrowl(returnResult, "Download");
	            }

        });

    }
    //DOWNLOAD DATA[END]

    //SEARCH & CLEAR [START]
    function onClear() {
        $("#txtSearchLineCode").val('');
        $("#txtSearchCarFamilyCode").val('');
        $("#txtSearchPartNo1").val('');
        $("#txtSearchPartNo2").val('');
        $("#txtSearchPartNo3").val('');
        $("#cmbSearchStatusCode").val('').trigger('chosen:updated');
        $("#cmbProcessCode").val('').trigger('chosen:updated');

        doSearch(1);
    }

    function doSearch(page) {
        popUpProgressShow();
         $.ajax({
            type: "POST",
            url: "@Html.Toyota().Page.GetActionUrl("Search")",
            data: {
                PROCESS_CD: $("#cmbProcessCode").val(),
                LINE_CD: $("#txtSearchLineCode").val(),
                CFC: $("#txtSearchCarFamilyCode").val(),
                PART_NO1: $("#txtSearchPartNo1").val(),
                PART_NO2: $("#txtSearchPartNo2").val(),
                PART_NO3: $("#txtSearchPartNo3").val(),
                STATUS_CD: $("#cmbSearchStatusCode").val(),
                rowsPerPage: $("#cbodisplay").val(),
                currentPage: page
            },
            success: function (data) {
                $("#divGrid").html(data);
                popUpProgressHide();
            },
            error: function (data) {
                popUpProgressHide();
            }
        });
    }
    //SEARCH & CLEAR [END]

    //UPLOAD SUCCES [START]
    //===================================================
    function onUploadDataFileSuccess(returnResult) {
        if (returnResult.ExceptionErrors != null || returnResult.ExceptionErrors != undefined) {
            showErrorMesgGrowl("<center>" + returnResult.ExceptionErrors[0] + "</center>");
        } else {
            if (returnResult.Params[0].length == 0) {
                showErrorMesgGrowl("You cant upload the template with empty data");
            } else {
                $("#importExcel").remove();
                $('#previewAlert').hide();
                $('#tblPreview tbody tr').remove();
                $('#uploadDataFilePopup').modal('hide');
                $('#btnEditUploaded').removeClass('saveEdit').text('Edit Upload');
                addDataToTableUploaded(true, returnResult);
            }
        }
    }

    function addDataToTableUploaded(bool, returnResult) {
        var obj = returnResult.Params[0];
        var index = 1; indexPrev = 1;
        if (returnResult.ErrMesgs >= 1 || returnResult.ErrMesgs != null || returnResult.ErrMesgs != undefined) {
            for (var i = 0; i < obj.length; i++) {
                addRowPreviewExcel(obj[i], returnResult.ErrMesgs);
                index++
            }
            var countEmptyField = checkIfEmpty(returnResult.ErrMesgs);
            showErrorMesgGrowl("Upload is succeeded with several blank fields");
            $('#previewAlert').show();
            $('strong#countEmpty').text(countEmptyField.length);
            $("#previewUploadExcel").modal("show");
            $('.modal-title').text('Preview Excel Upload');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            editSaveUpload(returnResult.ErrMesgs);
        } else {
            //Change it to yours
            var params = new Object();
            var data = new Object();

            params.ScreenMode = gScreenMode;
            params.data = data;
            var url = '@Url.Content("StockLevelMasterSettings/SaveAddEdit")';
            data.listData = []
            for (var i = 0; i < obj.length; i++) {
                var dtl = new Object();
                dtl.LINE_CD = obj[i].LINE_CD;
                dtl.CFC = obj[i].CFC;
                dtl.PART_NO = obj[i].PART_NO;
                dtl.STATUS_CD = obj[i].STATUS_CD;
                dtl.EXPORT_CD = obj[i].EXPORT_CD;
                dtl.MIN_STOCK = obj[i].MIN_STOCK;
                dtl.MAX_STOCK = obj[i].MAX_STOCK;
                dtl.TC_FROM = obj[i].TC_FROM;
                dtl.TC_TO = obj[i].TC_TO;

                dtl.COMPANY_CD = '807J';
                dtl.SEQ_NO = '';

                data.listData.push(dtl);
            }

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: "json",
                traditional: true,
                data: JSON.stringify(params),
                beforeSend: function () {
                    popUpProgressShow();
                    console.log(params);
                },
                success: function (data) {
                    if (data.ErrMesgs != null) {
                        for (var i = 0; i < data.ErrMesgs.length; i++) {
                            if (data.ErrMesgs[i] != null) {
                                showErrorMesgGrowl(data.ErrMesgs[i]);
                            }
                        }
                        $("#previewUploadExcel").modal("hide");
                        doSearch(1);
                    } else {
                        showSuccessMesgGrowl("Save Success");
                        onSaveSuccess();
                    }
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                }
            });
            //Change it to yours
        }
    }

    function editSaveUpload(errMsg) {
        $(document).on('click', '#btnEditUploaded', function () {
            $(this).addClass('saveEdit').text('Save');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', false);
            $('#importExcel').remove();
        })

        $(document).on('click', '.saveEdit', function () {
            $(this).removeClass('saveEdit').text('Edit Upload');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            var countEmpty = checkIfEmpty(errMsg);
            if (countEmpty.length == 0) {
                console.log(countEmpty.length);
                $("#divPreviewExcel .text-right").append('<button type="button" class="btn btn-info btn-md" id="importExcel">Import </button>');
            } else {
                $("#importExcel").remove();
            }
        });
    }

    function addRowPreviewExcel(object, errMsg) {
        $('#tblPreview tbody').append(
           '<tr class="' + indexPrev + '">\
                <td>'+ indexPrev +'</td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="LINE_CD_' + indexPrev + '"\
                        value="' + (object.LINE_CD == null ? "" : object.LINE_CD) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="CFC_' + indexPrev + '"\
                        value="' + (object.CFC == null ? "" : object.CFC) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="PART_NO_' + indexPrev + '"\
                        value="' + (object.PART_NO == null ? "" : object.PART_NO) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="Status_Code_' + indexPrev + '"\
                        value="' + (object.STATUS_CD == null ? "" : object.STATUS_CD) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="EXPORT_CD_' + indexPrev + '"\
                        value="' + (object.EXPORT_CD == null ? "" : object.EXPORT_CD) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="MIN_STOCK_' + indexPrev + '"\
                        value="' + (object.MIN_STOCK == null ? "" : object.MIN_STOCK) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="MAX_STOCK_' + indexPrev + '"\
                        value="' + (object.MAX_STOCK == null ? "" : object.MAX_STOCK) + '">\
                </td>\
                <td>\
                   <input type="text" class="form-control input-sm _datepicker" id="TC_FROM_' + indexPrev + '"\
                    value="' + (object.TC_FROM == null ? "" : object.TC_FROM) + '">\
                </td>\
                <td>\
                   <input type="text" class="form-control input-sm _datepicker" id="TC_TO_' + indexPrev + '"\
                    value="' + (object.TC_TO == null ? "" : object.TC_TO) + '">\
                </td>\
                <td hidden>\
                   <label class="hidden" id="COMPANY_CD_' + indexPrev + '"\
                    value="' + (object.COMPANY_CD == null ? "" : object.COMPANY_CD) + '">\
                </td>\
            </tr>'
        );
        datePicker();
        clearOnPreviewEvent(indexPrev, errMsg);
        indexPrev++;
    }

    function clearOnPreviewEvent(i, errMsg) {
        $(document).on("change",
              "#LINE_CD_" + i
           + ",#CFC_" + i
           + ",#PART_NO_" + i
           + ",#Status_Code_" + i
           + ",#EXPORT_CD_" + i
           + ",#MIN_STOCK_" + i
           + ",#MAX_STOCK_" + i
           + ",#TC_FROM_" + i
           + ",#TC_TO_" + i, function () {
               clearOnEvent(this, errMsg);
        });
    }

    function clearOnEvent(element, errMsg) {
        var id = $(element).attr('id');
        var lastChar = "";
            $(element).removeClass("emptyField mandatory");
            if ($(element).parent().hasClass("customTooltip")) {
                $(element).unwrap();
            }
        var countEmptyPreview = checkIfEmpty(errMsg);
        $('strong#countEmpty').text(countEmptyPreview.length);
        if (countEmptyPreview.length == 0) {
            $("#previewAlert").hide();
        } else {
            $("#previewAlert").show();
        }
    }


    function checkIfEmpty(errMsg) {
        var countEmptyField = [];
        $(".customToolTipText").remove();
        $("#divPreviewExcel input.form-control, #divPreviewExcel select").each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                    if ($(this).parent().hasClass("customTooltip")) {
                        $(this).unwrap();
                    }
                    $(this).wrapAll("<div class='customTooltip'></div>")
                    $(this).addClass("mandatory");
                    $(this).after("<span class='customToolTipText'><small class='errorMsg'>Cell is empty</small><i></i></span>");
                    $(this).closest('tr').attr('id','hasEmptyCells');
                    countEmptyField.push(1);
            }
        });
        if (errMsg != null) {
            for (var j = 0; j < errMsg.length; j++) {
                var str1 = errMsg[j].slice(0, errMsg[j].indexOf(" ")) + "_";
                var str2 = errMsg[j].slice(errMsg[j].indexOf("Row") + 4, errMsg[j].indexOf("Row") + 6);
                var id = str1.concat(str2);
                if ($("#" + id).parent().hasClass("customTooltip")) {
                    $("#" + id).next(".customToolTipText").find('.errorMsg').addClass(id);
                    $(".errorMsg." + id).text(errMsg[j]);
                }
            }
        }
        $('#tblPreview tbody tr').each(function () {
            if ($(this).attr('id') != 'hasEmptyCells') {
                //$(this).hide();
            }
        });
        return countEmptyField;
    }
    //===================================================
    //UPLOAD SUCCESS [END]

    </script>
}