@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;
@using GPPSU.Commons.Constants;
@using GPPSU.Models.DestinationMasterSettingsScreen;

@using GPPSU.Models.Common;
@{
    PagingModel page = ViewData["Paging"] != null ? (PagingModel)ViewData["Paging"] : new PagingModel(0, 1, 10);

    List<DestinationMasterSettingsScreen> listData = (List<DestinationMasterSettingsScreen>)ViewData["DestGroupData"] != null ? (List<DestinationMasterSettingsScreen>)ViewData["DestGroupData"] : new List<DestinationMasterSettingsScreen>();

}

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkall").click(function () {
            $(".grid-checkbox").prop("checked", $("#checkall").is(":checked"));
        });

        $(".grid-checkbox").click(function () {
            $("#checkall").prop("checked", $('.grid-checkbox:not(#checkall)').not(':checked').length == 0);
        });
    });
</script>

<div class="customContainer" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card customShadow">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6 col-6 col-sm-6">
                        <button id="btnUpload" type="button" class="btn btn-info initialBtn">Upload</button>
                        <button type="button" id="btn-download" class="btn btn-primary initialBtn" onclick="onDownload()">Download</button>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6 text-right">
                        <button class="btn btn-md btn-primary initialBtn" id="insertLine">Add</button>
                        <button class="btn btn-danger initialBtn" id="btnDelDtl">Delete</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="table-responsive customTableBorder">
                            <div class="tableScroll" id="tScrollHead">
                                <table class="customTable text-center" id="tblDetail" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="pl-3 pr-3">
                                                <input class="grid-checkboxDetail ace initialBtn" type="checkbox" id="checkall" />
                                                <span class="lbl" title="Choose"></span>
                                            </th>
                                            <th>Action</th>
                                            <th>Destination Code</th>
                                            <th>Destination Name</th>
                                            <th>Export Code</th>
                                            <th>Lead Time</th>
                                            <th>e-KANBAN</th>
                                            <th>T/C (From)</th>
                                            <th>T/C (To)</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (listData == null || listData.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="11">No Data Found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (DestinationMasterSettingsScreen data in listData)
                                            {
                                                <tr>
                                                    <td class="text-center grid-checkbox-col">
                                                        <input name="chkRow" type="checkbox" class="grid-checkbox-body"
                                                               data-destinationCd="@data.DESTINATION_CODE" data-companyCd="@data.COMPANY_CD" data-seqNo="@data.SEQ_NO" />
                                                        <span class="lbl"></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn initialBtn btn-md btn-outline-primary pt-0 pb-0 pl-1 pr-1" title="Edit" id="editLine">
                                                            <small><i class="fa fa-pen"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-info pt-0 pb-0 pl-1 pr-1" title="Copy Line" id="copyLine">
                                                            <small><i class="fa fa-copy"></i></small>
                                                        </button>
                                                        <button class="btn initialBtn btn-md btn-outline-warning pt-0 pb-0 pl-1 pr-1" title="Delete" 
                                                                onclick="onDeleteSingle('@data.DESTINATION_CODE','@data.COMPANY_CD','@data.SEQ_NO')">
                                                            <small><i class="fa fa-trash"></i></small>
                                                        </button>
                                                    </td>
                                                        <td id="tdDestCd">@data.DESTINATION_CODE</td>
                                                        <td id="tdDestNm">@data.DESTINATION_NAME</td>
                                                        <td id="tdExportCd">@data.EXPORT_CODE</td>
                                                        <td id="tdLeadTime">@data.LEAD_TIME</td>
                                                        <td id="tdEkanban">@data.E_KANBAN</td>
                                                        <td id="tdTCFrom">@data.TC_FROM</td>
                                                        <td id="tdTcTo">@data.TC_TO</td>
                                                        <td>@data.CREATED_BY</td>
                                                        <td>@data.CREATED_DT_STR</td>
                                                        
                                                        <td hidden>@data.COMPANY_CD</td>
                                                        <td hidden>@data.SEQ_NO</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <div class="form-group-sm">
                            @Html.Partial("_UIPaging", page)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>