@using System;
@using Toyota.Common.Web.Platform;
@using GPPSU.Controllers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_SearchCriteria")

@section HeadScript{

}

<div id="divGrid">
    @Html.Partial("_GridView")
</div>

@*<div id="confirmationDownload" class="bootstrap-growl alert alert-success" style="position: fixed; margin: 0px 0px 0px -125px; z-index: 9999; top: 20px; width: 250px; left: 50%; display:none;">
    <a class="close" onClick="btnDownloadClose_onClick()">×</a>Download berdasarkan ?
    <br /><br /><button type="button" class="btn btn-xs btn-warning" onClick="btnDownloadAct_onClick(0)">All page</button>
    &nbsp<button type="button" class="btn btn-xs btn-success" onClick="btnDownloadAct_onClick(1)">Per page</button>
</div>*@

<div id="uploadDataFilePopup" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="basicModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Upload Area</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Dropzone AREA-->
                        <div id="actions" class="row">
                            <div class="col-md-12 fileinput-button mb-2">
                                <div class="row justify-content-center" style="padding: 5px;">
                                    <i class="fa fa-cloud-upload-alt fa-5x" style="opacity: 0.3"></i>
                                </div>
                                <div class="row justify-content-center" style="padding: 5px;">
                                    <span style="color: #999; font-size: 20px;"><i class="fa fa-caret-right blue" style="opacity: 0.7"></i> Drop file to upload <small>(or click)</small> </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table table-striped" id="previews">
                                <div id="template" class="file-row">
                                    <div>
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:0%;" data-dz-uploadprogress><span class="progress-text"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Dropzone AREA-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-left">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">
                        <button type="button" class="btn btn-info" id="linkDownloadTemplate">Download Template </button>
                        <button type="button" id="btnUploadPopupClose" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divPreviewExcel">
    @Html.Partial("_ModalPreviewExcelUpload")
</div>

@section BodyScript{

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-msgbox/jquery.msgBox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.filedownload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/tdk/jquery.bootstrap-growl.min.js")"></script>


    <script>

    var trBaseColor;
    var dataEditCopy = [];
    var gScreenMode = "";
    var listUploadDataExcel = new Object();

    $(document).ready(function () {

        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone("#actions", {
            url: "@Html.Toyota().Page.GetActionUrl("UploadDataFile")",
            paramName: "file",
            maxFiles: 1,
            acceptedFiles: ".xls",
            addRemoveLinks: false,
            previewTemplate: previewTemplate,
            autoQueue: true,
            clickable: ".fileinput-button",
            uploadprogress: function (file, progress, bytesSent) {
                if (file.previewElement) {
                    var progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                    progressElement.style.width = progress + "%";
                    progressElement.querySelector(".progress-text").textContent = Math.round(progress) + "%";
                }
            },
            success: function (file, returnResult) {
                onUploadDataFileSuccess(returnResult);
            },
            complete: function () {

            },
            error: function (file, errormessage) {
                if (file.previewElement) {
                    showErrorMesgGrowl(errormessage);
                }
            },
        });

        myDropzone.on("complete", function (file) {
            myDropzone.removeFile(file);
        });

        $(document).one('ajaxloadstart.page', function (e) {
            try {
                myDropzone.destroy();
            } catch (e) { }
        });

        $(document).on("click", "#btnUpload", function () {
            gScreenMode = "Upload";
            $("#uploadDataFilePopup").modal();
        });

        $(document).on("click", "#insertLine", function () {
            gScreenMode = "Add";
            addTheFirstRow(this);
            dataEditCopy.length = 0;
        });

        $(document).on("click", "#cancelSubmit", function () {
            var tr = $(this).closest("tr");
            var tcFrom = $("#sc_TC_From").val();
            var tcTo = $("#sc_TC_To").val();
            var createdDt = $("#sc_Created_Dt").val();
            $("#tblDetail tbody tr").css("opacity", "1");
            $(".initialBtn").prop("disabled", false);
            if (tr.attr("class") == "editLine") {
                tr.each(function (i, e) {
                    $(e).removeClass($(e).attr("class"));
                    $(e).css("background-color", trBaseColor);
                    var i = $(e).children('td');
                    for (var x = 2; x <= i.length; x++) {
                        var val = i.eq(x).children().val();
                        i.eq(x).html(val);
                    }
                    i.eq(1).html(initialButton);
                    i.eq(7).html(tcFrom);
                    i.eq(8).html(tcTo);
                    i.eq(10).html(createdDt);
                });
            } else {
                $(this).closest("tr").remove();
            }
            doSearch(1);
        });

        $(document).on("click", "#editLine", function () {
            gScreenMode = 'Edit'
            dataEditCopy.length = 0;
            var tr = initializeEditCopyLine(this);
            tr.addClass($(this).attr("id"));
            loopThrougTableRow(tr, $(this).attr('id'));
            $("#txtEq2").prop('disabled', true);

            trBaseColor = getComputedStyle(document.querySelector("." + $(this).attr('id') + "")).backgroundColor;
            tr.css("background-color", "#E9E9E9");

        });

        $(document).on("click", "#copyLine", function () {
            gScreenMode = 'Add'
            dataEditCopy.length = 0;
            addTheFirstRow(this);
        });

        $(document).on("click", "#btnDelDtl", function () {
            var checked = $(".grid-checkbox-body").length;

            if (checked < 1) {
                showErrorMesgGrowl("Choose one or more data(s) to be delete!");
            }
            else {
                //showConfirmMesg("Are you sure you want to delete the record?", onConfirmDelete, "Delete Confirmation");
                $.messagebox.show(
                "Delete Data",
                "MCSTSTD014C: Are you sure you want to delete the record ?",
                "INF",
                "CONFIRM",
                "onConfirmDelete()",
                ""
            );
                //$("#deleteConfirmation").modal();
            }
        });

        $(document).on("click", "#btnSave", function () {
            var params = new Object();
            var datas = new Object();

            params.ScreenMode = gScreenMode;
            params.data = datas;
            var errorinf = 0;

            if (gScreenMode === 'Add') {
                //ADD
                datas.DESTINATION_CODE = $("#txtEq2").val();
                datas.DESTINATION_NAME = $("#txtEq3").val();
                datas.EXPORT_CODE = $("#txtEq4").val();
                datas.LEAD_TIME = $("#txtEq5").val();
                datas.E_KANBAN = $("#txtEq6").val();
                datas.TC_FROM = $("#sc_TC_From").val();
                datas.TC_TO = $("#sc_TC_To").val();

                //validasi
                if (datas.DESTINATION_CODE == '' || datas.DESTINATION_CODE == null) {
                    showErrorMesgGrowl("DESTINATION CODE should not be empty");
                    errorinf = 1;
                } else if (datas.EXPORT_CODE == '' || datas.EXPORT_CODE == null) {
                    showErrorMesgGrowl("EXPORT CODE should not be empty");
                    errorinf = 1;
                } else if (datas.LEAD_TIME == '' || datas.LEAD_TIME == null) {
                    showErrorMesgGrowl("LEAD TIME should not be empty");
                    errorinf = 1;
                } else if (datas.E_KANBAN == '' || datas.E_KANBAN == null) {
                    showErrorMesgGrowl("E-KANBAN should not be empty");
                    errorinf = 1;
                } else if (datas.TC_FROM == '' || datas.TC_FROM == null) {
                    showErrorMesgGrowl("TC FROM should not be empty");
                    errorinf = 1;
                } else if ($("#txtEq2").val().length > 4) {
                    showErrorMesgGrowl("Destination Code maximum 4 characters");
                    errorinf = 1;
                } else if (datas.EXPORT_CODE != 'D' && datas.EXPORT_CODE != 'E' && datas.EXPORT_CODE != 'Z') {
                    showErrorMesgGrowl("Export Code input only D, E, Z");
                    errorinf = 1;
                } else if (datas.LEAD_TIME > 20) {
                    showErrorMesgGrowl("Lead Time should < 20");
                    errorinf = 1;
                } else if (datas.E_KANBAN != 'Y' && datas.E_KANBAN != 'N') {
                    showErrorMesgGrowl("E-Kanban input only Y/N");
                    errorinf = 1;
                } else if ($("#sc_TC_From").val() > $("#sc_TC_From").val()) {
                    showErrorMesgGrowl("TC From must be larger than TC To");
                    errorinf = 1;
                }


            }
            else {
                datas.DESTINATION_CODE = $("#txtEq2").val();
                datas.DESTINATION_NAME = $("#txtEq3").val();
                datas.EXPORT_CODE = $("#txtEq4").val();
                datas.LEAD_TIME = $("#txtEq5").val();
                datas.E_KANBAN = $("#txtEq6").val();
                datas.TC_FROM = $("#sc_TC_From").val();
                datas.TC_TO = $("#sc_TC_To").val();
                datas.COMPANY_CD = $("#txtEq11").val();
                datas.SEQ_NO = $("#txtEq12").val();

                //validasi
                if (datas.DESTINATION_CODE == '' || datas.DESTINATION_CODE == null) {
                    showErrorMesgGrowl("DESTINATION CODE should not be empty");
                    errorinf = 1;
                } else if (datas.EXPORT_CODE == '' || datas.EXPORT_CODE == null) {
                    showErrorMesgGrowl("EXPORT CODE should not be empty");
                    errorinf = 1;
                } else if (datas.LEAD_TIME == '' || datas.LEAD_TIME == null) {
                    showErrorMesgGrowl("LEAD TIME should not be empty");
                    errorinf = 1;
                } else if (datas.E_KANBAN == '' || datas.E_KANBAN == null) {
                    showErrorMesgGrowl("E-KANBAN should not be empty");
                    errorinf = 1;
                } else if (datas.TC_FROM == '' || datas.TC_FROM == null) {
                    showErrorMesgGrowl("TC FROM should not be empty");
                    errorinf = 1;
                } else if ($("#txtEq2").val().length > 4) {
                    showErrorMesgGrowl("Destination Code maximum 4 characters");
                    errorinf = 1;
                } else if (datas.EXPORT_CODE != 'D' && datas.EXPORT_CODE != 'E' && datas.EXPORT_CODE != 'Z') {
                    showErrorMesgGrowl("Export Code input only D, E, Z");
                    errorinf = 1;
                } else if (datas.LEAD_TIME > 20) {
                    showErrorMesgGrowl("Lead Time should < 20");
                    errorinf = 1;
                } else if (datas.E_KANBAN != 'Y' && datas.E_KANBAN != 'N') {
                    showErrorMesgGrowl("E-Kanban input only Y/N");
                    errorinf = 1;
                } else if ($("#sc_TC_From").val() > $("#sc_TC_From").val()) {
                    showErrorMesgGrowl("TC From must be larger than TC To");
                    errorinf = 1;
                }
            }

            if (errorinf == 1) {

            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("DestinationMasterSettingsScreen/AddEditSave")',
                    contentType: 'application/json',
                    dataType: "json",
                    traditional: true,
                    data: JSON.stringify(params),
                    beforeSend: function () {
                        popUpProgressShow();
                        console.log(params);
                    },
                    success: function (data) {
                         if (data.Result == "ERROR") {
                             showErrorMesgGrowl(data.ErrMesgs);
                         }
                         else {
                             showSuccessMesgGrowl("Save Success");
                             onSaveSuccess();
                            }
                        popUpProgressHide();
                    },
                    error: function (data) {
                        popUpProgressHide();
                        showErrorMesgGrowl(data.ErrMesgs);
                    },
                    complete: function () {
                        popUpProgressHide();
                    }
                });
            }

        });

        $(document).on("click", "#linkDownloadTemplate", function () {
            popUpProgressShow();
            $.fileDownload('@Url.Content("~/DestinationMasterSettingsScreen/DownloadTemplate")', {
                httpMethod: "POST",
                data: {},
                successCallback: function (url) {
                    popUpProgressHide();
                },
                failCallback: function (responseHtml, url) {
                    popUpProgressHide();
                    var returnResult = JSON.parse(responseHtml.replace("<pre>", "").replace("</pre>", ""));
                    handleAjaxResultGrowl(returnResult, "Download Template");
                }
            });
        });

        $(document).on('click', '#importExcel', function () {
            var params = new Object();
            var data = new Object();
            //var method = "IMPORT";
            params.ScreenMode = gScreenMode;
            params.data = data;
            var i = 1;
            data.listData = []

            $('#tblPreview tbody tr').each(function () {
                var dtl = new Object();
                dtl.DESTINATION_CODE = $(this).find('#Destination_Code_' + i).val();
                dtl.DESTINATION_NAME = $(this).find('#Destination_Name_' + i).val();
                dtl.EXPORT_CODE = $(this).find('#Export_Code_' + i).val();
                dtl.LEAD_TIME = $(this).find('#Lead_Time_' + i).val();
                dtl.E_KANBAN = $(this).find('#e_Kanban_' + i).val();
                dtl.TC_FROM = $(this).find('#TC_From_' + i).val();
                dtl.TC_TO = $(this).find('#TC_To_' + i).val();

                //dtl.COMPANY_CD = $(this).find('#Company_Code_' + i).val();
                dtl.COMPANY_CD = $("#Company_Code_"+ i).val();
                // dtl.SEQ_NO = $(this).find('#Seq_No_' + i).val();
                dtl.SEQ_NO = $("#Seq_No_"+ i).val();

                data.listData.push(dtl);
                i++;
            });
            console.log(data.listData)

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DestinationMasterSettingsScreen/AddEditSave")',
                contentType: 'application/json',
                dataType: "json",
                traditional: true,
                data: JSON.stringify(params),
                beforeSend: function () {
                    popUpProgressShow();
                    console.log(params);
                },
                success: function (data) {
                    if (data.ErrMesgs != null) {
                        for (var i = 0; i < data.ErrMesgs.length; i++) {
                            if (data.ErrMesgs[i] != null) {
                                showErrorMesgGrowl(data.ErrMesgs[i]);
                            }
                        }
                        $("#previewUploadExcel").modal("hide");
                        doSearch(1);
                    } else {
                        showSuccessMesgGrowl("Save Success");
                        onSaveSuccess();
                    }
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                }
            });
        });

    });

    function datePicker() {
        $("._datepicker").datepicker({
            format: 'ddmmyyyy',
            autoclose: true,
            container: '#datePickerBox'
        });
    }


    function addTheFirstRow(e) {
        btnAddRow_onClick(e);
        $(".initialBtn").prop("disabled", true);
        $("input[type=checkbox]").prop("checked", false);
    }

    function btnAddRow_onClick(classAttr) {
        var $class = $(classAttr).attr('id');
        var tr = $class == 'insertLine' ? $("#tblDetail tbody tr:first") : $(classAttr).closest("tr");
        $(".tableScroll").scrollTop(0);
        tr.clone().addClass($class).css("background-color", "#E9E9E9").prependTo("#tblDetail tbody");

        loopThrougTableRow($("#tblDetail tbody tr." + $class + ""), $class);
    }

    function initializeEditCopyLine(e) {
        var tr = $(e).closest("tr");
        $("input[type=checkbox]").prop("checked", false);
        $(".initialBtn").prop("disabled", true);

        return tr;
    }

    function loopThrougTableRow(tr, classAttr) {
        tr.each(function (i, e) {
            var i = $(e).children('td');
            for (var x = 2; x < i.length; x++) {
                var val = classAttr == "insertLine" ? "" : i.eq(x).text();
                i.eq(x).html("<input type ='text' class='form-control " + x + " text-center' value='" + val + "' id='txtEq" +x+ "'/>");
                if (x == 7) {
                    i.eq(7).html(tdTcFrom(val));
                }
                if (x == 8) {
                    i.eq(8).html(tdTcTo(val));
                }
                if (x == 10) {
                    i.eq(10).html(tdCreatedDt(val));
                }
                dataEditCopy.push(val);
            }
            i.eq(1).html(modifiedButton);

            datePicker();
        });
        $("#txtEq9").prop('disabled', true);
        $("#sc_Created_Dt").prop('disabled', true);
        $("#tblDetail tbody tr:not(." + tr.attr("class") + ")").css("opacity", "0.3");
    }

        function tdTcFrom(val) {
            var year = val.substring(0, 4);
            var month = val.substring(4, 6);
            var day = val.substring(6, 8);
            var v = day.toString() + month.toString() + year.toString();

            var string = `
             <div class="input-group" id="datePickerBox">
                        <input class="form-control _datepicker" id="sc_TC_From" name="sc_TC_From" type="text" value="`+ v +`"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
            `;
            return string
        }

        function tdTcTo(val) {
            var year = val.substring(0, 4);
            var month = val.substring(4, 6);
            var day = val.substring(6, 8);
            var v = day.toString() + month.toString() + year.toString();

            var string = `
             <div class="input-group" id="datePickerBox">
                        <input class="form-control _datepicker" id="sc_TC_To" name="sc_TC_To" type="text" value="`+ v +`"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
            `;
            return string
        }

        function tdCreatedDt(val) {
            var string = `
             <div class="input-group" id="datePickerBox">
                        <input class="form-control _datepicker" id="sc_Created_Dt" name="sc_Created_Dt" type="text" value="`+ val +`"/>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
            `;
            return string
        }

        @*function btnDownloadClose_onClick() {
	        $('#confirmationDownload').css('display', 'none');
	    }

	    function onDownload() {
	        $('#confirmationDownload').css('display', '');
	    }*@


       //function btnDownloadAct_onClick(flag) {
        function onDownload() {
             popUpProgressShow();
            //$.messagepanel.show("Download Success");
            $.fileDownload('@Url.Content("DestinationMasterSettingsScreen/DownloadFileExcel")', {
	                httpMethod: "POST",
	                data: {
	                    DESTINATION_CODE: $("#txtSearchDestination").val(),
	                    RowsPerPage: $("#cbodisplay").val(),
	                    CurrentPage: $(".pagination li.page-item.active a").text()//,
	                    //PageFlag: flag
	                },
                    successCallback: function (data) {
                        if (data == "ERROR") {
                            showErrorMesgGrowl(data);
                        }
                        else {
                            popUpProgressHide();
                            $('#confirmationDownload').css('display', 'none');
                            showSuccessMesgGrowl("Download Success");
                        }
	                },
	                failCallback: function (data) {
                        popUpProgressHide();
                        if (data == "ERROR") {
                            showErrorMesgGrowl("ERROR : Data not found");
                        }
                        else {
                            popUpProgressHide();
                            $('#confirmationDownload').css('display', 'none');
                            showSuccessMesgGrowl("Download Success");
                        }
                        $('#confirmationDownload').css('display', 'none');
	                    //var returnResult = JSON.parse(responseHtml.replace("<pre>", "")
                        //    .replace("</pre", ""));
                        //
	                    //handleAjaxResultGrowl(returnResult, "Download");
	                }

            });

        }

        function doSearch(page) {
            popUpProgressShow();
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("Search")",
                data: {
                    DESTINATION_CODE: $("#txtSearchDestination").val(),
                    rowsPerPage: $("#cbodisplay").val(),
                    currentPage: page
                },
                success: function (data) {
                    $("#divGrid").html(data);
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                }
            });
        }

        function doClear() {
            $("#txtSearchDestination").val('');

            doSearch(1);
        }

        function onSaveSuccess() {

            doSearch(1);
            $(".initialBtn").prop("disabled", false);
            $("#previewUploadExcel").modal("hide");
        }

        @*delete multiple*@
        function onConfirmDelete() {
            popUpProgressShow();

            var listData = [];
            var id = "";

            var data = new Object();
            data.listData = [];

            $(".grid-checkbox-body:checked").each(function () {
                var Data1 = new Object();
                Data1.COMPANY_CD = $(this).attr('data-companyCd');
                Data1.DESTINATION_CODE = $(this).attr('data-destinationCd');
                Data1.SEQ_NO = $(this).attr('data-seqNo');

                data.listData.push(Data1);
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DestinationMasterSettingsScreen/Delete")',
                contentType: "application/json",
                dataType: "json",
                traditional: true,
                data: JSON.stringify(data),
                beforeSend: function () {
                    popUpProgressShow();
                },
                success: function (data) {
                    if (data.Result == "ERROR") {
                        showErrorMesgGrowl(data.ErrMesgs);
                    }
                    else {
                        showSuccessMesgGrowl("Delete Success");
                        doSearch(1);
                    }
                },
                error: function (data) {
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                    $("#deleteConfirmation").modal("hide");
                }
            });
        }

        function onDeleteSingle(destinationCode, companyCd, seqNo) {

            $.messagebox.show(
                "Delete Data",
                "MCSTSTD014C: Are you sure you want to delete the record ?",
                "INF",
                "CONFIRM",
                "onConfirmDeleteSingle("+ "'"+ destinationCode +"',"+ "'"+companyCd+"',"+ "'"+seqNo+"'"+ ")",
                ""
            );
        }

        function onConfirmDeleteSingle(destinationCode, companyCd, seqNo) {
            popUpProgressShow();

            var listData = [];
            var id = "";

            var data = new Object();
            data.listData = [];

            var Data1 = new Object();
            Data1.COMPANY_CD = companyCd;
            Data1.DESTINATION_CODE = destinationCode;
            Data1.SEQ_NO = seqNo;

            data.listData.push(Data1);
            /*
            $(".grid-checkbox-body:checked").each(function () {
                var Data1 = new Object();
                Data1.SOLD_TO_PARTY = $(this).attr('data-soldparty');
                Data1.SHIP_TO_PARTY = $(this).attr('data-shipparty');

                data.listData.push(Data1);
            });
            */

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DestinationMasterSettingsScreen/Delete")',
                contentType: "application/json",
                dataType: "json",
                traditional: true,
                data: JSON.stringify(data),
                beforeSend: function () {
                    popUpProgressShow();
                },
                success: function (data) {
                    if (data.Result == "ERROR") {
                        showErrorMesgGrowl(data.ErrMesgs);
                    }
                    else {
                        showSuccessMesgGrowl("Delete Success");
                        popUpProgressHide();
                        doSearch(1);
                    }
                },
                error: function (data) {
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                    $("#deleteConfirmation").modal("hide");
                }
            });
        }


    //Once the upload has completed
    //===================================================
    function onUploadDataFileSuccess(returnResult) {
        if (returnResult.ExceptionErrors != null || returnResult.ExceptionErrors != undefined) {
            showErrorMesgGrowl("<center>" + returnResult.ExceptionErrors[0] + "</center>");
        } else {
            if (returnResult.Params[0].length == 0) {
                showErrorMesgGrowl("You cant upload the template with empty data");
            } else {
                $("#importExcel").remove();
                $('#previewAlert').hide();
                $('#tblPreview tbody tr').remove();
                $('#uploadDataFilePopup').modal('hide');
                $('#btnEditUploaded').removeClass('saveEdit').text('Edit Upload');
                addDataToTableUploaded(true, returnResult);
            }
        }
    }

    function addDataToTableUploaded(bool, returnResult) {
        var obj = returnResult.Params[0];
        listUploadDataExcel = new Object();
        var index = 1; indexPrev = 1;

        listUploadDataExcel.listData = [];
        for (var i = 0; i < obj.length; i++) {
            var dtl = new Object();
            dtl.DESTINATION_CODE = obj[i].DESTINATION_CODE;
            dtl.DESTINATION_NAME = obj[i].DESTINATION_NAME;
            dtl.EXPORT_CODE = obj[i].EXPORT_CODE;
            dtl.LEAD_TIME = obj[i].LEAD_TIME;
            dtl.E_KANBAN = obj[i].E_KANBAN;
            dtl.TC_FROM = obj[i].TC_FROM;
            dtl.TC_TO = obj[i].TC_TO;

            dtl.COMPANY_CD = '';
            dtl.SEQ_NO = '';

            listUploadDataExcel.listData.push(dtl);
        }

        if (returnResult.ErrMesgs >= 1 || returnResult.ErrMesgs != null || returnResult.ErrMesgs != undefined) {
            for (var i = 0; i < obj.length; i++) {
                addRowPreviewExcel(obj[i], returnResult.ErrMesgs);
                index++
            }
            var countEmptyField = checkIfEmpty(returnResult.ErrMesgs);
            showErrorMesgGrowl("Upload is succeeded with several blank fields");
            $('#previewAlert').show();
            $('strong#countEmpty').text(countEmptyField.length);
            $("#previewUploadExcel").modal("show");
            $('.modal-title').text('Preview Excel Upload');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            editSaveUpload(returnResult.ErrMesgs);
        } else {
            //Change it to yours
            var params = new Object();
            var data = new Object();

            params.ScreenMode = gScreenMode;
            params.data = data;
            data.listData = []

            data.listData = listUploadDataExcel.listData;

            $.ajax({
                type: 'POST',
                url: '@Url.Content("DestinationMasterSettingsScreen/AddEditSave")',
                contentType: 'application/json',
                dataType: "json",
                traditional: true,
                data: JSON.stringify(params),
                beforeSend: function () {
                    popUpProgressShow();
                    console.log(params);
                },
                success: function (data) {
                    if (data.ErrMesgs != null) {
                        for (var i = 0; i < data.ErrMesgs.length; i++) {
                            if (data.ErrMesgs[i] != null) {
                                showErrorMesgGrowl(data.ErrMesgs[i]);
                            }
                        }
                        $("#previewUploadExcel").modal("hide");
                        doSearch(1);
                    } else {
                        showSuccessMesgGrowl("Save Success");
                        onSaveSuccess();
                    }
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                    showErrorMesgGrowl(data.ErrMesgs);
                },
                complete: function () {
                    popUpProgressHide();
                }
            });
            //Change it to yours
        }
    }

    function editSaveUpload(errMsg) {
        $(document).on('click', '#btnEditUploaded', function () {
            $(this).addClass('saveEdit').text('Save');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', false);
            $('#importExcel').remove();
        })

        $(document).on('click', '.saveEdit', function () {
            $(this).removeClass('saveEdit').text('Edit Upload');
            $('#divPreviewExcel input, #divPreviewExcel select').prop('disabled', true);
            var countEmpty = checkIfEmpty(errMsg);
            if (countEmpty.length == 0) {
                console.log(countEmpty.length);
                $("#divPreviewExcel .text-right").append('<button type="button" class="btn btn-info btn-md" id="importExcel">Import </button>');
            } else {
                $("#importExcel").remove();
            }
        });
    }

    function addRowPreviewExcel(object, errMsg) {
        $('#tblPreview tbody').append(
           '<tr class="' + indexPrev + '">\
                <td>'+ indexPrev +'</td>\
                <td>\
                    <input type="text" class="form-control input-sm" maxlength="4" id="Destination_Code_' + indexPrev + '"\
                        value="' + (object.DESTINATION_CODE == null ? "" : object.DESTINATION_CODE) + '">\
                </td>\
                <td>\
                    <input type="text" class="form-control input-sm" id="Destination_Name_' + indexPrev + '"\
                        value="' + (object.DESTINATION_NAME == null ? "" : object.DESTINATION_NAME) + '">\
                </td>\
                <td>\
                    <select class="form-control input-sm" id="Export_Code_' + indexPrev + '">\
                        <option value=""></option>\
                        <option value="E">E</option>\
                        <option value="D">D</option>\
                        <option value="Z">Z</option>\
                    </select >\
                </td>\
                <td>\
                    <input type="number" class="form-control input-sm" id="Lead_Time_' + indexPrev + '"\
                        value="' + (object.LEAD_TIME == null ? "" : object.LEAD_TIME) + '">\
                </td>\
                <td>\
                    <select class="form-control input-sm" id="e_Kanban_' + indexPrev + '">\
                        <option value=""></option>\
                        <option value="Y">Y</option>\
                        <option value="N">N</option>\
                    </select >\
                </td>\
                <td>\
                   <input type="text" class="form-control input-sm _datepicker" id="TC_From_' + indexPrev + '"\
                    value="' + (object.TC_FROM == null ? "" : object.TC_FROM) + '">\
                </td>\
                <td>\
                   <input type="text" class="form-control input-sm _datepicker" id="TC_To_' + indexPrev + '"\
                    value="' + (object.TC_TO == null ? "" : object.TC_TO) + '">\
                </td>\
                <td hidden>\
                   <label class="hidden" id="Company_Code_' + indexPrev + '"\
                    value="' + (object.COMPANY_CD == null ? "" : object.COMPANY_CD) + '">\
                </td>\
                <td hidden>\
                   <label class="hidden" id="Seq_No_' + indexPrev + '"\
                    value="' + (object.SEQ_NO == null ? "" : object.SEQ_NO) + '">\
                </td>\
            </tr>'
        );
        $("#Export_Code_" + indexPrev).val(object.EXPORT_CODE);
        $("#e_Kanban_" + indexPrev).val(object.E_KANBAN);
        datePicker();
        clearOnPreviewEvent(indexPrev, errMsg);
        indexPrev++;
    }

        function clearOnPreviewEvent(i, errMsg) {
            $("#Destination_Code_" + i
                + ",#Destination_Name_" + i
                + ",#Export_Code_" + i
                + ",#Lead_Time_" + i
                + ",#e_Kanban_" + i
                + ",#TC_From_" + i
                + ",#TC_To_" + i).off("change").on("change", function () {
                    if ($(this).attr('id').indexOf('Lead_Time_') != -1) {
                        if ($(this).val() > 20) {
                            showErrorMesgGrowl("The length of the lead time value must be less than 20");
                            $(this).val('');
                        }
                    }
                    if ($(this).attr('id').indexOf('TC_From_') != -1) {
                        if ($("#TC_To_" + i).val().length != 0) {
                            var overlap = checkOverlaping($(this).val(), $("#TC_To_" + i).val(), i);
                            if (overlap) {
                                listUploadDataExcel.listData[i - 1].TC_FROM = null;
                                listUploadDataExcel.listData[i - 1].TC_TO = null;
                            } else {
                                listUploadDataExcel.listData[i - 1].TC_FROM = $(this).val();
                                listUploadDataExcel.listData[i - 1].TC_TO = $("#TC_To_" + i).val();
                            }
                        }
                    }
                    if ($(this).attr('id').indexOf('TC_To_') != -1) {
                        if ($("#TC_From_" + i).val().length != 0) {
                            var overlap = checkOverlaping($("#TC_From_" + i).val(), $(this).val(), i);
                            if (overlap) {
                                listUploadDataExcel.listData[i - 1].TC_FROM = null;
                                listUploadDataExcel.listData[i - 1].TC_TO = null;
                            } else {
                                listUploadDataExcel.listData[i - 1].TC_FROM = $("#TC_From_" + i).val();
                                listUploadDataExcel.listData[i - 1].TC_TO = $(this).val();
                            }
                        }
                    }
                    console.log(listUploadDataExcel.listData);
                    clearOnEvent(this, errMsg);
                });
        }

        function checkOverlaping(tcFrom, tcTo, i) {
            var overlap = false;

            var dateTcFrom = tcFrom.substring(4, 8) + '-' + tcFrom.substring(2, 4) + '-' + tcFrom.substring(0, 2);
            var dateTcTo = tcTo.substring(4, 8) + '-' + tcTo.substring(2, 4) + '-' + tcTo.substring(0, 2);

            var result = checkingOverlap(tcFrom, tcTo);

            var overlap = DoesNotOverlap(dateTcFrom, dateTcTo);

            if (tcFrom > tcTo) {
                showErrorMesgGrowl("TC From must be larger than TC To.");
                $("#TC_From_" + i).val('');
            } else if (result == 1) {
                showErrorMesgGrowl("Overlap found for T/C From and T/C to in database.");
                $("#TC_From_" + i).val('');
                $("#TC_To_" + i).val('')
                overlap = true;
            } else if (overlap) {
                showErrorMesgGrowl("Overlap found for T/C From and T/C to in the current preview.");
                $("#TC_From_" + i).val('');
                $("#TC_To_" + i).val('')
                overlap = true;
            } 
            return overlap;
        }

        function checkingOverlap(tc_from, tc_to) {
            var result = null;
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("Checking_Overlap")",
                data: {
                    tcFrom: tc_from,
                    tcTo: tc_to
                },
                async: false,
                success: function (data) {
                    result = data;
                    popUpProgressHide();
                },
                error: function (data) {
                    popUpProgressHide();
                }
            });
            return result;
        }

        function DoesNotOverlap(tcFrom, tcTo) {
            var result = false;
            var list_tc = listUploadDataExcel.listData.filter((d) =>
                (d.TC_TO != null && tcFrom <= (d.TC_TO.substring(4, 8) + '-' + d.TC_TO.substring(2, 4) + '-' + d.TC_TO.substring(0, 2))) &&
                (d.TC_FROM != null && tcTo >= (d.TC_FROM.substring(4, 8) + '-' + d.TC_FROM.substring(2, 4) + '-' + d.TC_FROM.substring(0, 2)))
            );
            if (list_tc.length > 0) {
                result = true;
            }
            return result;
        }

    function clearOnEvent(element, errMsg) {
        var id = $(element).attr('id');
        var lastChar = "";
            $(element).removeClass("emptyField mandatory");
            if ($(element).parent().hasClass("customTooltip")) {
                $(element).unwrap();
            }
        var countEmptyPreview = checkIfEmpty(errMsg);
        $('strong#countEmpty').text(countEmptyPreview.length);
        if (countEmptyPreview.length == 0) {
            $("#previewAlert").hide();
        } else {
            $("#previewAlert").show();
        }
    }


    function checkIfEmpty(errMsg) {
        var countEmptyField = [];
        $(".customToolTipText").remove();
        $("#divPreviewExcel input.form-control, #divPreviewExcel select").each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                    if ($(this).parent().hasClass("customTooltip")) {
                        $(this).unwrap();
                    }
                    $(this).wrapAll("<div class='customTooltip'></div>")
                    $(this).addClass("mandatory");
                    $(this).after("<span class='customToolTipText'><small class='errorMsg'>Cell is empty</small><i></i></span>");
                    $(this).closest('tr').attr('id','hasEmptyCells');
                    countEmptyField.push(1);
            }
        });
        if (errMsg != null) {
            for (var j = 0; j < errMsg.length; j++) {
                var str1 = errMsg[j].slice(0, errMsg[j].indexOf(" ")) + "_";
                var str2 = errMsg[j].slice(errMsg[j].indexOf("Row") + 4, errMsg[j].indexOf("Row") + 6);
                var id = str1.concat(str2);
                if ($("#" + id).parent().hasClass("customTooltip")) {
                    $("#" + id).next(".customToolTipText").find('.errorMsg').addClass(id);
                    $(".errorMsg." + id).text(errMsg[j]);
                }
            }
        }
        $('#tblPreview tbody tr').each(function () {
            if ($(this).attr('id') != 'hasEmptyCells') {
                //$(this).hide();
            }
        });
        return countEmptyField;
    }
    //===================================================

    </script>
}